extends ../layout

block content
    div
        div
            h2
            h2.view-header Comments (Admin)
            h1 Visibility = #{visibility}
            h4
                a(href=`/admin/comments/${highlightedNumber}?visibility=public`) Public
                br
                a(href=`/admin/comments/${highlightedNumber}?visibility=removed`) Removed
                br
                a(href=`/admin/comments/${highlightedNumber}?visibility=spam`) Spam
        hr
        if comments.length == 0
            p There are no more comments
        else
            .center-block.text-center
                ul.pagination
                    li.page-item
                        a.page-link(href=`/admin/comments/${previousNumber}?visibility=${visibility}`) <

                    each number in numbersArray
                        li.page-item(class=(number == highlightedNumber) ? 'active' : undefined)
                            a.page-link(href=`/admin/comments/${number}?visibility=${visibility}`) #{number}

                    li.page-item
                        a.page-link(href=`/admin/comments/${nextNumber}?visibility=${visibility}`) >



            each comment in comments
                div.col-sm-4(style="text-align:center;height:420px;border:1px solid black;")
                    // NEW CHANNEL UPLOAD FORMAT

                    a(href=`/user/${comment.commenter.channelUrl}`)
                        h4 Commenter Name: #{comment.commenter.channelName}
                        h4 Commenter Url: #{comment.commenter.channelUrl}
                        p Visibility : #{comment.visibility}
                    if comment.upload
                        a(href=`/user/${comment.commenter.channelUrl}/${comment.upload.uniqueTag}`)
                            h3 Media: #{comment.upload.title}
                    p(style="height:90px") Comment: #{comment.text}




                        div.admin-buttons
                            form(action="/admin/comments" method="POST")
                                input(type='hidden', name='_csrf', value=_csrf)
                                input(type='hidden', name='user', value=`${comment.commenter._id}`)
                                input(type='hidden', name='comment', value=`${comment._id}`)
                                button.btn.btn-success(name="commentChangeValue" value="reinstateComment" type="submit" ) Reinstate Comment
                                br
                                br
                                button.btn.btn-danger(name="commentChangeValue" value="deleteComment" type="submit" ) Delete Comment
                                br
                                br
                                button.btn.btn-danger(name="commentChangeValue" value="deleteCommentBanUser" type="submit" ) Delete Comment/Ban User

            div.col-sm-12(style="text-align:center;margin-top:200px;")
                .center-block.text-center
                    ul.pagination
                        li.page-item
                            a.page-link(href=`/admin/comments/${previousNumber}?visibility=${visibility}`) <

                        each number in numbersArray
                          li.page-item(class=(number == highlightedNumber) ? 'active' : undefined)
                              a.page-link(href=`/admin/comments/${number}?visibility=${visibility}`) #{number}

                        li.page-item
                            a.page-link(href=`/admin/comments/${nextNumber}?visibility=${visibility}`) >
