extends ../layout

block content
    div
        div
            h2
            h2.view-header Subscriptions (Admin)
        hr
        each subscription in subscriptions
            p
                a(href=`/uploads/${subscription.upload.uploader.channelUrl}/${subscription.upload.uniqueTag}`) Upload Title #{subscription.upload.title}
            p Uploader: #{subscription.upload.uploader.channelUrl}
            p Reacter : #{subscription.user.channelUrl}
            p Reaction: #{subscription.react}

            br
            br