extends ../layout

block content
    div
        div
            h2
            h2.view-header Subscriptions (Admin)
        hr
        each subscription in subscriptions
            p
                a(href=`/uploads/${react.upload.uploader.channelUrl}/${react.upload.uniqueTag}`) Upload Title #{react.upload.title}
            p Uploader: #{react.upload.uploader.channelUrl}
            p Reacter : #{react.user.channelUrl}
            p Reaction: #{react.react}

            br
            br