style.
  @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

  h7 {
    color: white;
    display: inline-block;
  }

  input[type="text"] {
    border-radius: 2px 0 0 2px;
    border: 1px solid #bebebe;
    color: #000000;
    height: 33px;
    padding: 0 10px;
    width: 88%;
    z-index: 2;
  }

  input:focus {
    border: 1.1px solid #1c62b9;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .4);
  }

  .backButtonIcon {
    display: none;
    left: 17px;
    width: 70px;
  }

  .box {
    width: 80%;
  }

  .faRandom {
    color:#b9b9b9;
    cursor:pointer;
    font-size:32px;
    margin-right:5px;
    margin-top:3px;
  }

  .fixedTop {
    background-color:white;
    margin:0;
    max-width:100%;
    opacity:1;
    padding:0;
  }

  .fullTitle {
    color: #ffffff;
    display: inline-block;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
  }

  .fullTitleLink {
    left: 99px;
    position: absolute;
    top: 15px;
  }

  .hamburgerDropdown {
    position:absolute;
    left:28px;
  }

  .hamburgerDropdown img {
    display: inline-block;
    width: 52px;
  }

  .headerContainer {
    padding: 0px;
  }

  .postButton {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
  }

  .postButton:hover {
    background-color: #212121 !important;
  }

  .search {
    color: #aaaaaa;
    font-size: 16px;
    position: relative;
  }

  .search input {
    background: #fcfcfc;
    border: 1px solid #aaaaaa;
    height: 36px;
    text-indent: 9px;
    width: 600px;
  }

  .searchBar {
    margin: 0 auto 0 200px;
    position: relative;
    width: 45%;

    /* TODO looks like this is overridden by inline styles. double check. */
    /* width: 55%; */
  }

  .searchQueryInput {
    background-color:#313131;
    border: 1px solid #5b5a5a !important;
    color:white !important;
    margin-bottom: 10px;
    margin-top: 11px;
  }

  .searchQueryInput::placeholder {
    /* Most modern browsers support this now. */
    color: grey;
  }

  .searchUploadsButton {
    -webkit-transition: all 0.2s ease;
    background-color: #313131 !important;
    border: 1px solid #5b5a5a;
    transition: all 0.2s ease;
    z-index: 999999;
  }

  .searchUploadsButton:hover {
    background-color: #212121 !important;
  }

  .searchUploadsButton:hover i {
    color: white;
    opacity: .95;
  }

  .searchButton {
    background-color: black;
    border-left: 0;
    border-radius: 0px 2px 2px 0;
    border: 1px solid #bebebe;
    cursor: pointer;
    font-size: 14px;
    height: 33px;
    position: absolute;
    right: -6px;
    text-align: center;
    top: 11px;
    width: 14%;
    z-index: 1;

    /* TODO looks like these are overridden by inline styles. double check. */
    /* background-color: #f0f0f0; */
    /* right: 0; */
  }

  .searchExpander, .uploadIconI {
    color: grey;
    font-size: 22px;
    position: absolute;
    right: 111px;
    top: 24px;
  }

  .searchIcon {
    color: #a7a3a3;
    left: 44%;
    position: absolute;
    top: 29%;
  }

  .secondLine {
    background-color: #141414;
    padding-left: 56px;
    border-bottom: 1px solid #cec0c0;
    box-shadow: -3px 11px 10px -10px rgba(0,0,0,0.51);
    float: left;
    width: 100%;

    margin-top: -54px !important;
  }

  .signInAnchor {
    position: absolute;
    right: 121px;
    top: 13px;

    /* TODO looks like this is overridden by inline styles. double check. */
    /* right: 10px; */
  }

  .signInAnchor.withUser {
    right: 212px;
  }

  .signInDiv {
    background-color: #313131;
    border-radius: 3px;
    border: 1px solid #848484;
    display: inline-block;
    padding: 9px 23px;

    /* TODO looks like this is overridden by inline styles. double check. */
    /* border: 2px solid black; */
  }

  .singleLetter {
    color: #ffffff;
    display: none;
    font-size: 30px;
    font-weight: 900;
    margin-top: 28px;
    position: absolute;
    text-transform: uppercase;
    top: -30px;

    /* TODO looks like this is overridden by inline styles. double check. */
    /* color: #0fda01; */
  }

  .textCenter {
    border-radius: 15px;
    display: inline-block;
    margin-left: 15px;
    width: 27px;
   }

  .uploadButton {
    position: absolute;
    right: 79px;
    top: 13px;
  }

  .uploadButton div.postButton {
    background-color: #313131;
    border-radius: 3px;
    border: 1px solid #848484;
    display: inline-block;
    margin-left: 15px;
    padding: 9px 36px;
  }

  .uploadIcon {
    position: absolute;
    right: 79px;
    top: 13px;
  }

  .uploadIconI {
    display: none;
    right: -6px;
    top: 11px;
  }

  .userImage {
    position: absolute;
    right: 29px;
    top: 20px;
  }

  /*
     ======================================
     ====== Search Box Media Queries ======
     = page widths in descending order... =
     ======================================
   */

  @media (max-width: 927px) {
    .diceIcon {
      visibility: hidden;
    }
  }

  /* post button starts to hit search bar */
  @media (max-width: 753px){
    .postButton {
      display: none !important;
    }

    .postIcon {
      display: inline !important;
    }
  }

  /* plus button starts to hit search bar */
  @media (max-width: 593px) {
    .hamburgerDropdown {
      left: 11px !important;
    }

    .fullTitle {
      color: #ffffff;
      display: none;
      font-size: 25px;
      font-weight: 900;
      text-transform: uppercase;
    }

    .permBar {
      display: none;
    }

    .searchBar {
      width: 57% !important;
      margin-left: 70px !important;
    }

    .singleLetter {
      display: inline !important;
      left: -32px;
    }
  }

  /* everything under 439px */
  @media (max-width: 439px) {
    .fullTitle {
      display: none !important;
    }

    .searchBar {
      display: none;
    }

    .searchPlaceHolder {
      display: none;
      height: 56px;
    }

    .searchPlaceHolder, .uploadIconI {
      display: block !important;
    }

    .singleLetter {
      display: inline !important;
    }
  }

.container.headerContainer.fixedTop
  div.secondLine
    a.hamburgerDropdown(href="#")
      img(src="/images/white-burger.jpg" onclick="toggleNav()")

    a.fullTitleLink(href="/")
      p.fullTitle #{brandName}
      p.singleLetter #{brandName}

    div.searchPlaceHolder
      a(href="#")
        // TODO why do we need these sequences of identifiers?
        i.fas.faSearch.searchExpander.searchExpanderButton
        i.fas.faArrowLeft.searchExpander.backButtonIcon

    div.searchBar
      input(type="hidden", name="_csrf", value=_csrf)

      input.searchQueryInput(
          name="searchValue"
          placeholder=`${ searchQuery !== undefined ? searchQuery : 'Search' }`
          type="text",
          value="")

      button.searchUploadsButton.searchButton
        // TODO why do we need this sequence of identifiers?
        i.fas.faSearch.searchIcon

    if !user
      a.diceIcon.signInAnchor(href="/random")
        // TODO why do we need this sequence of identifiers?
        i.fas.faRandom(aria-hidden="true")

      a.signInAnchor(href="/login")
        div.signInDiv
          h7 Sign In

    if user
      a.diceIcon.signInAnchor.withUser(href="/random")

        // TODO why do we need this sequence of identifiers?
        i.fas.faRandom(aria-hidden="true")

      a.uploadButton(href="/upload")
        div.postButton(data-target="#exampleModal", data-toggle="modal")
          h7 Upload

      a.uploadIcon(href="/upload")
        div.postIcon
          i.fas.fa-upload.uploadIconI

        a.userImage(href="#")
          if user.customThumbnail
            img.centerBlock.textCenter(
                onclick="toggleAccount()"
                src=`${uploadServer}/${user.channelUrl}/${user.customThumbnail}`)
          else
            img.centerBlock.textCenter(
              onclick="toggleAccount()"
              src="/images/default_user_image.png")
script.
  $(document).ready(function () {

    // whatever search expander is
    $('.searchExpander').click(function () {

      // hide the sign in div
      $('.signInDiv').hide();

      // show the back button
      $('.backButtonIcon').show();

      // TODO add and remove css classes instead of individual styles
      // hide single letter (now just says newtube)
      var elem = $('.singleLetter');
      elem[0].style.removeProperty('display');
      elem[0].style.setProperty('display', 'none', 'important');

      // hide single letter
      var elem2 = $('.searchPlaceHolder');
      elem2[0].style.removeProperty('display');
      elem2[0].style.setProperty('display', 'inline', 'important');

      // post icon probably now upload button
      var elem1 = $('.postIcon');
      if (elem1[0]) {
        elem1[0].style.removeProperty('display');
        elem1[0].style.setProperty('display', 'none', 'important');
      }

      // show the search bar again
      $('.searchBar, .search-form').css({
        display: 'inline'
      });

      $('.searchQueryInput').css({
        'margin-left' : '-61px'
      });

      $('.hamburgerDropdown, .userImage, .searchExpanderButton').css({
        display: 'none'
      });

      $('.searchButton').css({
        top: '-8px'
      });

      // no need to autofocus
      $('.searchQueryInput').focus();
    })

    // REVERSE EFFECT
    // show the old header
    $('.backButtonIcon').click(function () {
      $('.signInDiv').show();

      $('.backButtonIcon, .singleLetter, .searchBar, .search-form').css({
        display: 'none'
      });

      $('.hamburgerDropdown, .searchExpanderButton, .userImage').css({
        display: 'block'
      });

      $('.postIcon').css({
        display: 'inline'
      });

      $('.searchPlaceHolder').css({
        display: 'inline-block'
      });
    })
  });

if !user
  script.
    $('.subscribed-link').on('release click', function (e) {
      e.preventDefault();

      swal({
        text: 'Please register to subscribe to content',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Sign Up Now'
      }).then(function (result) {
        if (result.value) {
          window.location.href = '/signup';
        }
      })
    });

// to hide the header when you scroll down
// first I have to make it fixed to the top
script.
  $(document).ready(function () {
    // grab an element
    var myElement = document.querySelector('.navbar');
    // construct an instance of Headroom, passing the element
    var headroom = new Headroom(myElement);
    // initialise
    headroom.init();
  });

script.
  $(document).ready(function () {
    var orderBy = '#{orderBy}';
    var mediaType = '#{mediaType}';
    var searchQuery = '#{searchQuery}';
    var searchType = '#{searchType}'; // upload or user

    if (!orderBy) {
      orderBy = 'newToOld';
    }

    // TODO: how to capture enter from input
    $('.searchQueryInput').on('keyup', function (e) {
      if (e.key === 'Enter' || e.keyCode === 13) {
        var userSearchQuery = $('.searchQueryInput').val();

        window.location = (
            '/search?orderBy=' + orderBy + '&mediaType=' + mediaType +
            '&searchQuery=' + userSearchQuery + '&searchType=' + searchType);
      }
    });

    // capture submit
    $('.searchUploadsButton').click(function () {
      var userSearchQuery = $('.searchQueryInput').val();

      window.location = (
          '/search?orderBy=' + orderBy + '&mediaType=' + mediaType +
          '&searchQuery=' + userSearchQuery + '&searchType=' + searchType);
    });
  });

