extends ../layout

block content
  section.signup.temporary
    //- TODO: pull level 1 heading out of section 
    h1 Sign Up
    form#signup-form(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      div
        label(for='channelUrl').
          Channel Username #[abbr(title="This field is mandatory" aria-label="required") *]:
        p Must have between 3 to 25 characters, which are letters, numbers and underscores (no spaces).
        input#channelUrl.username(
          type='text', 
          name='channelUrl', 
          minlength="3",
          maxlength="25",
          pattern="[a-zA-Z0-9]+"
          required
        )
      div
        label(for='password').
          Password #[abbr(title="This field is mandatory" aria-label="required") *]:
        input#password.firstPasswordInput(
          type='password', 
          name='password', 
          minlength="4", 
          autocomplete="password"
          required
        )
      div
        label(for='confirmPassword').
          Confirm Password #[abbr(title="This field is mandatory" aria-label="required") *]:
        input#confirmPassword.confirmPasswordInput(
          type='password', 
          name='confirmPassword', 
          minlength="4",
          autocomplete="password", 
          required
        )

      if captchaOn == true
        .form-group
          label(for='captcha') Captcha #[abbr(title="This field is mandatory" aria-label="required") *]:
          div.form-group.col-md-4(style="margin-left:1pt;")
            div.g-recaptcha(data-sitekey=`${recaptchaPublicKey}` id='captcha')
      else
        //- buttons get unhidden by javascript
        div.captcha
          label(for="captcha").
            Solve captcha #[abbr(title="This field is mandatory", aria-label="required") *]:
          div.imagewrapper 
            div.captchacontainer
              | !{captchaImage}
            button.reloadcaptcha(type="button", title="Reload captcha", hidden) 
              span.fas.fa-sync

          div.inputwrapper
            input#captcha(type="text", name="captcha", minlength="4", required) 
            button.checkcaptcha(type="button", title="Check captcha", hidden)
              span.fas.fa-check-double

      //- var regex = new RegExp("^[a-zA-Z]+$");

      div
        p By signing up you are agreeing you have read and agree to the #[a(href="/termsofservice") Terms Of Service]
      div
        button(type='submit')
          span.fa.fa-user-plus
          |
          | Signup

    if errors
      output.errors
        p Errors:
        ul.errorlist
          each error in errors
            li {error}
    else 
      output
        p Errors:
          ul.errorlist