extends ../layout

block content

    div.center-block.text-center.col-sm-12


        h1 Subscriptions

        hr

        // TOP PAGINATION
        nav.center-block.text-center(aria-label='Page navigation example')
            ul.pagination
                li.page-item
                    a.page-link(href=`/media/subscribed/${previousNumber}`) <

                each number in numbersArray
                    li.page-item(class=(number == highlightedNumber) ? 'active' : undefined)
                        a.page-link(href=`/media/subscribed/${number}`) #{number}

                li.page-item
                    a.page-link(href=`/media/subscribed/${nextNumber}`) >




    hr
    if uploads.length == 0
        h3.text-center Subscribe to a channel to see your subscriptions
    else
        br
        br
        each upload in uploads
            if upload.uploader
                div.col-sm-4(style="text-align:center;height:360px")
                    a.title-anchor(href=`/user/${upload.uploader.channelUrl}/${upload.uniqueTag}` style="color:black")
                        if upload.thumbnails && upload.thumbnails.custom
                            // TODO: Sub out URL here
                            img.preview-image(src=`${uploadServer}/${upload.uploader.channelUrl}/${upload.thumbnails.custom}` style="width:inherit;max-width:302px;")
                        else if upload.fileType == 'video' && upload.thumbnails && upload.thumbnails.generated
                            img.preview-image(src=`${uploadServer}/${upload.uploader.channelUrl}/${upload.thumbnails.generated}` style="width:inherit;max-width:302px;")
                        else if upload.fileType == 'video' && upload.thumbnails && upload.thumbnails.medium
                            img.preview-image(src=`${uploadServer}/${upload.uploader.channelUrl}/${upload.thumbnails.medium}` style="width:inherit;max-width:302px;")
                        else if upload.fileType == 'video' && !upload.thumbnailUrl
                            img.preview-image(src="/no_img.png")
                        else if upload.fileType == 'image'
                            // TODO: have to fix this
                            img.preview-image(src=`${'/uploads'}/${upload.uploader.channelUrl}/${upload.uniqueTag}${upload.fileExtension}` style="width:inherit;max-width:302px;")
                        else if upload.fileType == 'audio'
                            img.preview-image(src='/audio.svg')
                        else if upload.fileType == 'unknown'
                            img.preview-image(src='/no_img.png')

                        div
                            p.balance-text.upload-title-text(style="width:100%;margin:0 auto;margin-top:6px;") #{upload.title}
                        br

                    div.upload-details
                        div.views
                            p.views-text #{upload.legitViewAmount} Views
                            // capitalize media type
                        div.uploaded-by #{upload.fileType.charAt(0).toUpperCase() + upload.fileType.slice(1)} uploaded
                            | &nbsp#{upload.timeAgo} by
                            a.upload-user-text(href=`/user/${upload.uploader.channelUrl}`)
                                p(style="font-size:16px") #{upload.uploader.channelName}



    if uploads.length > 0

        div.center-block.text-center.col-sm-12

                nav.center-block.text-center(aria-label='Page navigation example')
                    ul.pagination
                        li.page-item
                            a.page-link(href=`/media/subscribed/${previousNumber}`) <

                        each number in numbersArray
                            li.page-item(class=(number == highlightedNumber) ? 'active' : undefined)
                                a.page-link(href=`/media/subscribed/${number}`) #{number}

                        li.page-item
                            a.page-link(href=`/media/subscribed/${nextNumber}`) >


    script.
      balanceText();

    script.
      $(document).on({
        mouseenter: function () {
          var width = $(this).width()
          var height = $(this).height()


          $(this).css("width", width * 1.10);
          $(this).css("height", height * 1.10);

        },
        mouseleave: function () {
          var width = $(this).width()
          var height = $(this).height()

          $(this).css("width", width / 1.10);
          $(this).css("height", height / 1.10);
        }
      }, '.preview-image');