style.
  .dropdown-anchors {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.2s linear;
    color: white !important;
    font-weight:500 !important;
  }

  .dropdown-anchors:hover {
    color: #4da5f4 !important;
    background-color: transparent;
  }

  .brandName {
    font-size:19px;
  }

.navbar.navbar-default.navbar-fixed-top(style="background-color:rgb(24,55,147)")
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href=`/`)
        h5.brandName(style="color:white;margin-right:-10px;margin-top:0px;") #{brandName}
    .collapse.navbar-collapse
      ul.nav.navbar-nav.front-header
        li(class=(title == 'Home') ? 'active' : undefined)
          a(href=`/`) Home
          li(class=(title == 'Popular Uploads') ? 'active' : undefined)
            // category set to overview to trigger overview functionality by default
            if popularDefault == 'all'
              a(href=`/media/popular/1?within=24hour&category=all`) Popular
            else if popularDefault == 'overview'
              a(href=`/media/popular/1?within=24hour&category=overview`) Popular
          li(class=(title == 'Recent Uploads') ? 'active' : undefined)
            a(href=`/media/recent?category=all`) Recent
          //li(class=(title == 'Channels') ? 'active' : undefined)
          //  a(href=`/channels?within=24hour`) Channels

        li(class=(title == 'Search') ? 'active' : undefined)
          a(href=`/search`) Search
        li.subscribed-link(class=(title == 'Subscriptions') ? 'active' : undefined)
          if user && user.unseenSubscriptionUploads || user && user.unseenSubscriptionUploads == 0
            a(href=`/media/subscribed`) Subscribed (#{user.unseenSubscriptionUploads})
          else
            a(href=`/media/subscribed`) Subscribed (0)

        // DOCS SECTION
        //li(class=(title == 'Docs') ? 'active' : undefined)
        //  a(href=`/docs`) Docs


      ul.nav.navbar-nav.navbar-right
        if user

          // support dropdown
          // TODO: turning this off because it's not turned on atm
          //if user.role == 'support' || user.role == 'admin'
          //  li.dropdown(class=(title == 'Admin Panel') ? 'active' : undefined)
          //    a.dropdown-toggle(href='#', data-toggle='dropdown')
          //      span= 'Support'
          //      i.caret
          //    ul.dropdown-menu(style="background-color:rgb(24,55,147);max-width: 100px;min-width:100px;margin-right: -6px;")
          //      li(class=(title == 'Emails') ? 'active' : undefined)
          //        a.dropdown-anchors(href=`/support/emails`) Emails

          // moderator dropdown
          if user.role == 'moderator' || user.role == 'admin'
            li.dropdown(class=(title == 'Admin Panel') ? 'active' : undefined)
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                span= 'Mod'
                i.caret
              ul.dropdown-menu(style="background-color:rgb(24,55,147);max-width: 100px;min-width:100px;margin-right: -19px;")
                li(class=(title == 'Reports') ? 'active' : undefined)
                  a.dropdown-anchors(href=`/support/reports`) Reports
                li(class=(title == 'Pending') ? 'active' : undefined)
                  a.dropdown-anchors(href=`/pending`) Pending

          // admin dropdown
          if user.role == 'admin'
            li.dropdown(class=(title == 'Admin') ? 'active' : undefined)
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                span= 'Admin'
                i.caret
              ul.dropdown-menu(style="background-color:rgb(24,55,147);max-width: 159px;margin-right: -47px;")
                li
                  a.dropdown-anchors(href=`/admin/dailyStats`) Daily Stats

                li(class=(title == 'Uploads') ? 'active' : undefined)
                  a.dropdown-anchors(href=`/admin/uploads`) Uploads
                li(class=(title == 'Users') ? 'active' : undefined)
                  a.dropdown-anchors(href=`/admin/users`) Users
                li(class=(title == 'Comments') ? 'active' : undefined)
                  a.dropdown-anchors(href=`/admin/comments`) Comments
                li
                  a.dropdown-anchors(href=`/admin/siteVisitors`) Site Visitors
                li
                  a.dropdown-anchors(href=`/admin/reacts`) Reacts
                li
                  a.dropdown-anchors(href=`/admin/subscriptions`) Subscriptions
                li
                  a.dropdown-anchors(href=`/admin/adminAudit`) Admin Audit

                // TODO: turning this off because it's not turned on
                //li
                //  a.dropdown-anchors(href=`/admin/createSocialPost`) Create Social Post
                //li
                //  a.dropdown-anchors(href=`/admin/oneOffSocialPost`) One Off Social Post

        //li(class=(title == 'Features') ? 'active' : undefined)
        //  a(href=`/features`) Features
        li(class=(title == 'About') ? 'active' : undefined)
          a(href=`/about`) About

        // if user not logged in
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href=`/login`) Login
          li(class=(title == 'Create Account') ? 'active' : undefined)
            a(href=`/signup`) Create Account
        else
          // if user logged in
          li(class=(title == 'Upload') ? 'active' : undefined)
            a(href=`/upload`) Upload
          li.hidden-md.hidden-lg.hidden-sm
            a(href=`/notifications`) Notifications (#{unreadNotifAmount})
          li.hidden-md.hidden-lg.hidden-sm
            a(href=`/user/` + user.channelUrl) My Channel
          li.hidden-md.hidden-lg.hidden-sm
            a(href=`/account`) My Account
          li.hidden-md.hidden-lg.hidden-sm
            a(href=`/logout`) Logout
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span #{user.channelName || user.channelUrl } (#{unreadNotifAmount}) &nbsp
              i.caret
            ul.dropdown-menu(style="background-color:rgb(24,55,147);max-width: 147px;")
              li
                a.dropdown-anchors(href=`/notifications` style="color:white;") Notifications (#{unreadNotifAmount})
              li
                a.dropdown-anchors(href=`/user/` + user.channelUrl style="color:white;") My Channel
              li
                a.dropdown-anchors(href=`/account` style="color:white;") My Account

              li(class=(title == 'Upload') ? 'active' : undefined)
                a.dropdown-anchors(href=`/upload` style="color:white;") Upload
              li.divider
              li
                a.dropdown-anchors(href=`/logout` style="color:white;") Logout

if !user
  script.
    $('.subscribed-link').on('release click', function(e){
      e.preventDefault();

      swal({
        text: "Please register to subscribe to content",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Sign Up Now'
      }).then(function (result) {
        if (result.value) {
          window.location.href = "/signup";
        }
      })


    })
