nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  div.container
    a.navbar-brand(href='#') NodeTube
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='#')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/media/popular') Popular
        li.nav-item
          a.nav-link(href='/media/recent') Recent
        if user && user.unseenSubscriptionUploads
          li.nav-item
            a.nav-link(href='/media/subscribed') Subscriptions 
              span.badge.badge-danger #{user.unseenSubscriptionUploads}
        else
          li.nav-item
            a.nav-link(href='/media/subscribed') Subscriptions

      ul.nav.navbar-nav.navbar-right
        if user 
          if user.role == 'support' || user.role == 'admin' || user.role == 'moderator'
            li.nav-item
                a.nav-link(href="/admin")
                  span.fas.fa-cog
                  |  Settings
        if !user
          li.nav-item
            a.nav-link(href='/signup')
              span.fas.fa-user
              |  Sign Up
          li.nav-item
            a.nav-link(href='/login')
              span.fas.fa-sign-in-alt
              |  Login
        
        if user
          li.nav-item.dropdown
            a.nav-link(href='#' data-toggle='dropdown')
              if user.customThumbnail
                img.mx-auto(src=`${uploadServer}/${user.channelUrl}/${user.customThumbnail}` style="border-radius: 100rem")
              else
                img.mx-auto(src=`/images/default-user-icon.jpg` style="border-radius: 100rem")
              |  #{user.channelName}
            div.dropdown-menu
              a.dropdown-item(href=`/user/` + user.channelUrl) My Channel
              a.dropdown-item(href=`/notifications`) Notifications (#{unreadNotifAmount})
              a.dropdown-item(href='/account') My Account
              a.dropdown-item(href='/logout') Sign-out