extends ../layout

block content
    div
        div
            h2
            h2.view-header Pending Uploads
        hr
        each upload in uploads
            div.col-sm-4(style="text-align:center;height:500px;")
                // NEW CHANNEL UPLOAD FORMAT

                a(href=`/user/${upload.uploader.channelUrl}/${upload.uniqueTag}`)
                    // TODO: pretty sure this route is broken

                    include ../viewPartials/uploadThumbnail


                div.upload-details
                    // capitalize media type
                    br
                    div.uploaded-by #{upload.fileType.charAt(0).toUpperCase() + upload.fileType.slice(1)} uploaded by
                        a(href=`/user/${upload.uploader.channelUrl}`)
                            p(style="font-size:16px") #{upload.uploader.channelName || upload.uploader.channelUrl }

                    div.moderator-buttons
                        form(action="/pending" method="POST")
                            input(type='hidden', name='_csrf', value=_csrf)
                            input(type='hidden', name='uniqueTag', value=`${upload.uniqueTag}`)
                            button.btn.btn-success(name="moderationValue" value="approve" type="submit") Approve
                            br
                            br
                            button.btn.btn-success(name="moderationValue" value="approveAndTrustUser" type="submit") Approve And Trust User
                            br
                            br
                            button.btn.btn-danger(name="moderationValue" value="banVideo" type="submit" ) Ban Video
                            br
                            br
                            button.btn.btn-danger(name="moderationValue" value="banVideoAndUser" type="submit") Ban Video And User

