extends ../layout

block content
    div
        div
            h2
            h2.view-header Email
            h3
                a(href="/support/emails") Support Emails

        hr
        p Sent Date: #{email.sentDate}
            p To: #{email.toEmailAddress}
            p From: #{email.fromEmailAddress}
            p Subject: #{email.subject}
            p Text: #{email.text}
            p Email Id: #{email.emailId}
            p Responded To: #{email.respondedTo}
            br
            br
        br
        br
        if !receivedEmail.response
            h3 Response:
            textarea.form-group(maxlength='2000' rows="10" cols="70" style="width:400px;" id="response")
            br
            button.btn.btn-primary.submit-button(type="submit") Send Response For Final Verification


        script(src='/js/lib/jquery-3.1.1.min.js')
        script.
          $(document).ready(function () {
            var csrf = '#{_csrf}'
            var id = '#{receivedEmail._id}'

            $('.submit-button').on('click', function (e) {

              Swal({
                title: 'Save Response?',
                text: 'Do you want to save this as a response?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, save it',
                cancelButtonText: 'Cancel'
              }).then(function (result) {
                if (result.value) {
                  var response = $('#response').val();

                  var data = {
                    _csrf: csrf,
                    response
                  }

                  $.ajax({
                    type: 'POST',
                    url: `/support/emails/` + id,
                    data,
                    success: function (data) {
                      console.log(data);
                      location.href = location.href;


                    },
                    error: function (err) {
                      console.log(err);
                    }
                  });
                } else {
                  Swal.close()
                }
              })
            })
          })