extends ../layout

block content
    div
        div
            h2
            h2.view-header Pending Uploads
        hr
        each email in receivedEmails
            each val, index in email
                if index == '_id'
                    a(href=`/support/emails/${val}`) #{val}

                else
                    p= index + ': ' + val

            if user.role == 'admin' && !email.responseSent
                h1.submit-button(email-id=`${email._id}`) Send Email
            br
            br
            br

    script(src='/js/lib/jquery-3.1.1.min.js')
    script.
      $(document).ready(function () {

        var csrf = '#{_csrf}'
        var id = '400'

        var data = {
          _csrf: csrf
        }

        $('.submit-button').on('click', function (e) {

          console.log(e);

          var emailId = $(this).attr('email-id')

          console.log(emailId + 'email id')

          // console.log(this);

          Swal({
            title: 'Send Response?',
            text: 'Do you want to send this as a response?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, send it',
            cancelButtonText: 'Cancel'
          }).then(function (result) {
            if (result.value) {
              var response = $('#response').val();

              var data = {
                _csrf: csrf,
                response
              }

              $.ajax({
                type: 'POST',
                url: `/support/emails/` + id + '/send',
                data,
                success: function (data) {
                  console.log(data);

                },
                error: function (err) {
                  console.log(err);
                }
              });


            } else {
              Swal.close()
            }
          })
        })
      })

