doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='theme-color' content='#183793')
    meta(name='csrf-token', content=_csrf)
    meta(name="description", content=meta.description)

    // TODO: kind of want to remove the - Brandname, it doesn't look great
    meta(property='og:title', content=(meta.title || title))
    meta(property='og:image', content=meta.image)
    meta(property='og:description', content=meta.description)
    meta(property='og:video', content=meta.video)

    // twitter meta tags
    // trying out large card of twitter
    meta(name='twitter:card', content='summary_large_image')
    //meta(name='twitter:card', content='summary')
    meta(name='twitter:title', content=(meta.title || title))
    meta(name='twitter:description', content=meta.description || "An open-source file hosting platform")
    meta(name='twitter:image', content=meta.image)

    title #{title} - #{brandName}
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.33.1/dist/sweetalert2.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='apple-touch-icon', href='/images/app-icon-512x512.png')
    link(rel='manifest', href='/manifest.json')
    link(rel='alternate', type='application/rss+xml', href='/media/recent/rss')
    link(href='https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css', rel='stylesheet')
    block extra_css

    script(src='/js/lib/jquery-3.1.1.min.js')
    script(src='/js/lib/bootstrap.min.js')

    script(src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.11.0/headroom.min.js")
    script(src='https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/balance-text/3.2.0/balancetext.min.js')
    script(src='https://cdn.jsdelivr.net/npm/sweetalert2@7.33.1/dist/sweetalert2.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/enquire.js/2.0.1/enquire.min.js')
      
    link(rel='stylesheet', href='/css/loading-bar.css')
    script(src='/js/loading-bar.js')

    if adsenseOn
      script(data-ad-client=`${adsenseId}` async='' src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")

    if recaptchaOn
      script(src='https://www.google.com/recaptcha/api.js')
      include widgets/recaptcha

    block extra_js


  body(style="overflow-x:hidden;touch-action: manipulation;" id="body" class="dark-mode")


    include nodeTubeCss


    //layout.pug
    include layoutPartials/header

    // I feel like this is here and breaks if you move it
    include viewPartials/darkLightMode

    .container(style="max-width:1250px;padding-left: 0px; padding-right: 0px;margin-top:3px;")
      include layoutPartials/sidebar

      include layoutPartials/flash
      block content

    include layoutPartials/footer

    if zopimOn
      include widgets/zopim

    if googleAnalyticsOn
      include widgets/google-analytics


    script(src='/js/main.js')

    block extra_footer_js

      script.
        var accountOpen = false;

        function toggleAccount() {
          // account closed, open div
          if (!accountOpen) {
            document.getElementById("accountDropdown").style.display = "";
            accountOpen = true;

            // account open, close div
          } else if (accountOpen) {
            document.getElementById("accountDropdown").style.display = "none";

            accountOpen = false;
          }
        }


      script.
          var sidebarClosed = true;

          function toggleNav() {
            if (sidebarClosed) {
              document.getElementById("mySidebar").style.width = "253px";
              // document.getElementById("main").style.marginLeft = "253px";

              sidebarClosed = false;
            } else if (!sidebarClosed) {
              document.getElementById("mySidebar").style.width = "0";
              // document.getElementById("main").style.marginLeft = "0";

              sidebarClosed = true;
            }
          }

    //script.
    //  $.magneticScroll({
    //    speed: 1
    //  });


    //script.
    //
    //  $(document).ready(function () {
    //    $("body").niceScroll({
    //      cursorcolor: "aquamarine",
    //      cursorwidth: "16px",
    //      'zindex' : 999999999999999,
    //      scrollspeed: 1,
    //      smoothscroll: true,
    //      mousescrollstep: 38
    //    });
    //
    //
    //  });




