doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    meta(name="description", content=meta.description)

    meta(property='og:title', content=meta.title || title + ' - NodeTube')
    meta(property='og:image', content=meta.image)
    meta(property='og:description', content=meta.description)
    meta(property='og:video', content=meta.video)


    meta(name='twitter:card', content='summary')
    meta(name='twitter:title', content=meta.title || title + ' - NodeTube')
    meta(name='twitter:description', content=meta.description || "An open-source file hosting platform")
    meta(name='twitter:image', content=meta.image)


    title #{title} - NodeTube

    link(rel="stylesheet" href="/bower_components/sweetalert2/dist/sweetalert2.css")
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/pewtube.css')
    link(rel='shortcut icon', href='/favicon.ico')
    link(href='https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css', rel='stylesheet')
    block extra_css

    script(src='/js/lib/jquery-3.1.1.min.js')
    script(src='/js/lib/bootstrap.min.js')

    script(src='https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/balance-text/3.2.0/balancetext.min.js')
    script(src='/bower_components/sweetalert2/dist/sweetalert2.js')

    link(rel='stylesheet', href='/css/loading-bar.css')
    script(src='/js/loading-bar.js')



    if recaptchaOn
      script(src='https://www.google.com/recaptcha/api.js')
      include widgets/recaptcha

    block extra_js


  body
    //layout.pug
    include partials/header

    .container
      include partials/flash
      block content

    include partials/footer

    if coinhiveOn
      include widgets/coinhive

    if zopimOn
      include widgets/zopim

    if googleAnalyticsOn
      include widgets/google-analytics

    script(src='/js/main.js')
    block extra_footer_js


