doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='theme-color' content='#183793')
    meta(name='csrf-token', content=_csrf)
    meta(name="description", content=meta.description)

    // TODO: kind of want to remove the - Brandname, it doesn't look great
    meta(property='og:title', content=(meta.title || title) + ` - ${brandName}`)
    meta(property='og:image', content=meta.image)
    meta(property='og:description', content=meta.description)
    meta(property='og:video', content=meta.video)


    meta(name='twitter:card', content='summary')
    meta(name='twitter:title', content=(meta.title || title) + ` - ${brandName}`)
    meta(name='twitter:description', content=meta.description || "An open-source file hosting platform")
    meta(name='twitter:image', content=meta.image)

    title #{title} - #{brandName}
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.33.1/dist/sweetalert2.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='apple-touch-icon', href='/images/app-icon-512x512.png')
    link(rel='manifest', href='/manifest.json')
    link(rel='alternate', type='application/rss+xml', href='/media/recent/rss')
    link(href='https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css', rel='stylesheet')
    block extra_css

    script(src='/js/lib/jquery-3.1.1.min.js')
    script(src='/js/lib/bootstrap.min.js')

    script(src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.11.0/headroom.min.js")
    script(src='https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/balance-text/3.2.0/balancetext.min.js')
    script(src='https://cdn.jsdelivr.net/npm/sweetalert2@7.33.1/dist/sweetalert2.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js')
    script.
      /*
       magneticScroll v1.0
       by Maxime Gaul
       https://github.com/maximegaul/magnetic-scroll
       */
      jQuery.fn.reverse = [].reverse, function (t) {
        t.magneticScroll = function (o) {
          var e = {
            selector: ".magnetic",
            easing: "swing",
            speed: 500,
            timeout: 200,
            beforeScroll: t.noop,
            afterScroll: t.noop
          }, a = t.extend(e, o), r = {
            animateScroll: function (o, e, r) {
              a.beforeScroll(), t("html, body").stop().animate({scrollTop: e + "px"}, a.speed, a.easing, function () {
                setTimeout(function () {
                  t("html,body").stop().removeClass("scrolling"), a.afterScroll(o, r)
                }, a.timeout)
              })
            }
          };
          t(document).ready(function () {
            t(a.selector).each(function () {
              t(this).attr("data-offset", t(this).offset().top)
            });
            var o = /Firefox/i.test(navigator.userAgent) ? "DOMMouseScroll" : "mousewheel";
            t("body:not(.scrolling)").bind(o, function (o) {
              if (o.preventDefault(), t(this).hasClass("scrolling")) o.preventDefault(); else {
                t(this).addClass("scrolling");
                var e = t(window).scrollTop(), s = window.event || o;
                s = s.originalEvent ? s.originalEvent : s;
                var l = s.detail ? -40 * s.detail : s.wheelDelta;
                if (l > 0) t(window).scrollTop() > 0 ? t(a.selector).reverse().each(function () {
                  var o = 0;
                  return Math.round(t(this).attr("data-offset")) < Math.round(e) ? (r.animateScroll(t(this), t(this).attr("data-offset"), "up"), o = 1, !1) : void(0 === o && r.animateScroll(t(this), 0, "up"))
                }) : t("html,body").stop().removeClass("scrolling"); else {
                  var n = !0;
                  t(a.selector).each(function () {
                    return Math.round(t(this).attr("data-offset")) > Math.round(e) ? (n = !1, r.animateScroll(t(this), t(this).attr("data-offset"), "down"), !1) : void 0
                  }), n && t("html,body").stop().removeClass("scrolling")
                }
              }
              o.stopPropagation()
            })
          }).keydown(function (o) {
            var e = t(window).scrollTop(), s = o.which;
            if (38 == s) o.preventDefault(), t("body").hasClass("scrolling") || (t("body").addClass("scrolling"), t(a.selector).reverse().each(function () {
              return Math.round(t(this).attr("data-offset")) < Math.round(e) ? (r.animateScroll(t(this), t(this).attr("data-offset"), "up"), !1) : void 0
            })); else if (40 == s && (o.preventDefault(), !t("body").hasClass("scrolling"))) {
              t("body").addClass("scrolling");
              var l = !0;
              t(a.selector).each(function () {
                return Math.round(t(this).attr("data-offset")) > Math.round(e) ? (l = !1, r.animateScroll(t(this), t(this).attr("data-offset"), "down"), !1) : void 0
              }), l && t("html,body").stop().removeClass("scrolling")
            }
          })
        }
      }(jQuery);



    link(rel='stylesheet', href='/css/loading-bar.css')
    script(src='/js/loading-bar.js')

    if adsenseOn
      script(data-ad-client=`${adsenseId}` async='' src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")

    if recaptchaOn
      script(src='https://www.google.com/recaptcha/api.js')
      include widgets/recaptcha

    block extra_js


  body(style="overflow-x:hidden;touch-action: manipulation;" id="body" class="dark-mode")
    include nodeTubeCss


    //layout.pug
    include partials/header

    include viewPartials/darkLightMode

    .container(style="max-width:100%;padding-left: 0px; padding-right: 0px;")
      include partials/flash
      block content

    include partials/footer

    if zopimOn
      include widgets/zopim

    if googleAnalyticsOn
      include widgets/google-analytics


    script(src='/js/main.js')

    block extra_footer_js

    script.
      $.magneticScroll();


    //script.
    //
    //  $(document).ready(function () {
    //    $("body").niceScroll({
    //      cursorcolor: "aquamarine",
    //      cursorwidth: "16px",
    //      'zindex' : 999999999999999,
    //      scrollspeed: 1,
    //      smoothscroll: true,
    //      mousescrollstep: 38
    //    });
    //
    //
    //  });




