extends layout

block content

    style.
        .pending-string {
            max-width: 400px;
            margin: 0 auto;
            margin-top: 30px;
        }

        body footer header {
            background-color: black !important;
        }

        .navbar {
            background-color: #0c0c0c !important;
        }


        .navbar li a {
            color: rgb(95 95 95) !important;
            /*font-weight: 400 !important;*/
        }

        .brandName {
            color: rgb(95 95 95) !important;
        }

        .navbar-toggle .icon-bar .navbar-default {
            background-color: rgb(95 95 95) !important;
            border-color: rgb(95 95 95) !important;
        }

        .navbar-default .navbar-toggle {
            border-color: rgb(95 95 95) !important;
        }

        ::-webkit-scrollbar {
            display: none;
        }

    br
    div.center-block.text-center.col-sm-12(style="overflow-x: hidden;margin-top:-51px;background-color:black;")
        if upload.status == 'processing'

            div(style="max-width:443px;margin:0 auto;")
                h2.fw(id="processing") Your upload is currently 1% done being processed

                //p.fw(id="processingTimeElapsed" style="margin-top:33px") Time elapsed: calculating ...
                //
                //p.fw(id="estimatedProcessingTimeLeft") Estimated time to completion: calculating ...
                //
                //p.fw(id="estimatedTotalProcessingTime") Total estimated conversion time: calculating ...

                h4.fw(style="font-size:22px;margin-top:30px;") If your upload is stuck on processing, let an admin know via the social links at the bottom of the page and we'll take a look.


        <!-- DISPLAYING CONTENT -->
        br
        br
        // if it's a video that's finished processing
        if upload.fileType === 'video' && !upload.status !== 'processing'
            div.display-div.magnetic(style="min-width:50%;min-height:50%;margin:0 auto;")
                // margin-top:46px;

                video#media_player.display-element(playsinline poster=`${serverToUse}/${upload.uploader.channelUrl}/${upload.thumbnails.generated || upload.thumbnails.medium}` controls='', style="max-width:100%;background-color:black;")
                    // to
                    each val in upload.videoQualities
                        if val.status === 'complete'
                            source(src=`${serverToUse}/${upload.uploader.channelUrl}/${upload.uniqueTag}-${val.quality}.mp4`, size=`${val.quality}`, type='video/mp4')
                            //source.video-source(src=`${serverToUse}/${upload.uploader.channelUrl}/${upload.uniqueTag}.mp4`, type='video/mp4')
                            //source(src=upload.uploadUrl, type='video/mp4')

            // if it's an audio
        else if upload.fileType === 'audio'
            div
                audio#media_player.my_audio(playsinline style="width:80%;" controls='', preload='none')

                    if upload.fileExtension == '.m4a'
                        source(src=`${serverToUse}/${upload.uploader.channelUrl}/${upload.uniqueTag}${upload.fileExtension}`, type='audio/mp4')
                    if upload.fileExtension == '.oga' || upload.fileExtension == '.ogg'
                        source(src=`${serverToUse}/${upload.uploader.channelUrl}/${upload.uniqueTag}${upload.fileExtension}`, type='audio/ogg')
                    else
                        source(src=`${serverToUse}/${upload.uploader.channelUrl}/${upload.uniqueTag}${upload.fileExtension}`, type='audio/mp3')


                    //source(src=upload.uploadUrl, type='audio/mp3')

            // if it's an image
        else if upload.fileType === 'image'
            div.display-div(style="")
                a(href=`${serverToUse}/${upload.uploader.channelUrl}/${upload.uniqueTag}${upload.fileExtension}`)
                    img.display-element(src=`${serverToUse}/${upload.uploader.channelUrl}/${upload.uniqueTag}${upload.fileExtension}` style="border-radius:13px;max-width:80%;min-width:50%;min-height:50%;max-height:620px;")




        // todo: pull this out into its own include
        //- NON PLAYER CONTENT
            hello something
        div.non-player-content(style="position:relative;max-width:1451px;margin:0 auto;")
            // add margin-top 120 on margin-top:120px;"

            br
            br
            // Upload Title
            div.col-sm-8
                h2.balance-text(class="upload-title-value" style="text-wrap:balance;width:80%;margin:0 auto;font-weight:300;color: rgb(121 119 119) !important;")=upload.title

                if upload.visibility == 'pending' && upload.status !== 'processing'
                    h3.pending-string Your video is currently pending moderator approval. If it's still pending after several minutes please contact a mod at
                        a(href="/discord")  Discord

            // DOWNLOAD,EMBED, REPEAT AND REPORT BUTTONS
            div.col-sm-4
                // download button
                div.change-size-button
                    h2.download-button
                        i.download-icon.fa.fa-download(aria-hidden="true" style="cursor:pointer;color: rgb(121 119 119) !important;")

                // embed button
                div.change-size-button(style="margin-left:0px;color: rgb(121 119 119) !important;")
                    h2.share-button
                        i.share-icon.fas.fa-code(aria-hidden="true" style="cursor:pointer;font-size:27px;margin-left:0px;")

                // only do repeat button if it's audio or video
                if upload.fileType == 'video' || upload.fileType == 'audio'
                    div.change-size-button(style="margin-left:0px;")
                        h2.repeat-div(style="opacity:0.4")
                            i.repeat-icon.fa.fa-repeat(aria-hidden="true" style="cursor:pointer")

                // report upload button
                div.change-size-button(style="cursor:pointer;margin-left:0px;color: rgb(121 119 119) !important;")
                    h2.report-button(style="")
                        i.share-icon.fa.fa-exclamation-triangle(aria-hidden="true" style="cursor:pointer;font-size:19px;")


            br
            // UPLOADER DETAILS SECTION
            div.col-sm-4
                h3.uploader-name(style="margin-top:25px;font-size:26px;")
                    if upload.uploader.customThumbnail
                        a(href=`/user/${upload.uploader.channelUrl}`)

                            img(src=`${serverToUse}/${upload.uploader.channelUrl}/${upload.uploader.customThumbnail}` style="border-radius:13px;width:159px;height:159px;")
                            br
                            br
                    else if upload.uploader.thumbnailUrl
                        a(href=`/user/${upload.uploader.channelUrl}`)

                            img(src=`${serverToUse}/${upload.uploader._id}/unique.png` style="border-radius:13px;width:159px;height:159px;")
                            br
                            br

                    a(href=`/user/${upload.uploader.channelUrl}` style="color:gray;font-weight:300") #{upload.uploader.channelName || upload.uploader.channelUrl}
                        if upload.uploader.verified == true
                            img(src="/images/verified.jpg" width="25px" height="25px" style="margin-left:3px;margin-top:-2px;margin-right:5px;")
                        if upload.uploader.plan == 'plus'
                            span.nodetube-pro PLUS


                if upload.visibility != 'pending'
                    if alreadySubbed
                        button.subscribe.btn.fw.btn-danger(style="border-radius:4px") Unsubscribe (#{subscriberAmount})
                    else
                        button.subscribe.btn.fw.btn-success(style="border-radius:4px") Subscribe (#{subscriberAmount})
                    br
                    br

                div
                    // edit button
                    if ( user && user.channelUrl == upload.uploader.channelUrl ) || ( user && user.role == 'admin' )
                        br
                        a(href=`/user/${upload.uploader.channelUrl}/${upload.uniqueTag}/edit`)
                            button.fw.btn.btn-success(style="margin-bottom:-10px;border-radius:5px;") Edit

            // REMOVE QUALITY THING, EVERYONE CAN STAY LOW QUALITY
            // also have to add .fw to this thing when take it live
            //if upload.quality && upload.quality.high
            //    div.dropdown
            //        button#dropdownMenu1.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown' style="border-radius:4px;" quality="low")
            //            | Quality: Low
            //            span.caret
            //
            //        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1' style="cursor:pointer;")
            //            li(role='presentation')
            //                a.low-quality Low
            //            li(role='presentation')
            //                a.high-quality High

            //if upload.uploader.plan == 'plus'
            //    br
            //    button.donate.btn.btn-success(style="margin-bottom:-10px") Donate




            // UPLOAD DETAILS SECTION WITH VIEWS, UPLOADED DAYS AGO, DURATION ETC
            div.col-sm-4

                // Upload View Amount
                h3.fw #{upload.views} Views

                // Upload time ago, duration and uploader
                if upload.uploader
                    h4.fw
                        | Uploaded #{upload.timeAgo} &nbsp

                    if upload.formattedDuration
                        p.fw
                            | Duration: #{upload.formattedDuration}

                    if upload.visibility == 'removed'
                        h2 Upload Deleted

                    if upload.fileType == 'video' || upload.fileType == 'audio'

                        // TODO: should be able to support MB and GB
                        p.fw.fileSizeText(style="margin-top:15px") File Size: #{ formattedFileSize }

                    if upload.category
                        each category in categories
                            if category.name == upload.category
                                p.fw(style="margin-top:15px;font-size:12px;") Category: #{category.displayName}

                                if upload.subcategory

                                    each subcategory in category.subcategories

                                        if upload.subcategory == subcategory.name
                                            p.fw(style="margin-top:15px;font-size:12px;") Subcategory: #{subcategory.displayName}

                    if maxRatingAllowed !== 'SFW'
                        if upload.rating
                            if upload.rating == 'allAges'
                                p.fw(style="margin-top:15px;font-size:12px;") Rating: Safe For Work
                            if upload.rating == 'mature'
                                p.fw(style="margin-top:15px;font-size:12px;") Rating: Not Safe For Work
                            if upload.rating == 'sensitive'
                                p.fw(style="margin-top:15px;font-size:12px;") Rating: Sensitive (18+)


                    br


            // SHARING BUTTONS
            div

                a(href=`https://www.facebook.com/sharer/sharer.php?u=${url}` target="_blank")
                    img(src='/images/facebook-share.jpg', width='100', height='30', alt='Share on Twitter')
                a(href=`https://twitter.com/share?url=${url}` target="_blank")
                    img(src='/images/twitter-share.jpg', width='100', height='30', alt='Share on Twitter')
                a(href=`mailto:?subject=Check out this ${upload.fileType}&body=Check out this ${upload.fileType} on ${brandName}: ${url}`, title='Share by Email')
                    img(src='/images/email-share.jpg')



            br
            button.btn.btn-default.copy-button(style="padding:4px 12px" data-clipboard-text=`${upload.title} \n\n${url}`)
                i.fa.fa-info.fw
                | Copy Details

            button.btn.btn-default.copy-button(style="padding:4px 12px" data-clipboard-text=`${upload.title} by ${upload.uploader.channelName || upload.uploader.channelUrl} \n\n ${url} \n\n #${brandName}`)
                i.fa.fa-info.fw
                | With User Info

            //  REACTS WITH LIKES, DISLIKE, DISGUST, ETC
            div.react(style="width:39%;background-color:white;margin:0 auto;border-radius:10px;margin-bottom:21px;margin-top:60px;padding-bottom:12px;max-width:453px;min-width:247px;")
                // margin-top:133px
                br
                each emoji in emojis
                    div(style="padding-right:15px;display:inline-block;")
                        a(href="#")
                            if currentReact
                                if currentReact == emoji.name
                                    div.clicked-emoji
                                        img(class=emoji.name src='/emojis/' + emoji.name + '.jpg' width="50px" )

                                else
                                    div.unclicked-emoji
                                        img(class=emoji.name src='/emojis/' + emoji.name + '.jpg' width="50px" )

                            else
                                div.clicked-emoji
                                    img(class=emoji.name src='/emojis/' + emoji.name + '.jpg' width="50px" )

                        p.fw(class=emoji.name style="font-weight:400;") #{emoji.amount}

            // COMMENT SECTION AND FORM
            div
                br
                br
                br
                div.col-sm-12
                if user
                    if !viewingUserIsBlocked
                        // comment form
                        div.comment-form.form-group
                            form.form-horizontal.overall-comment-form(class="comment-form" action='/api/comment', method='post')
                                input(type='hidden', name='_csrf', value=_csrf)
                                label.fw(for="comment" style="font-size:20px;") Enter Comment
                                br
                                input(type="hidden" name="upload" id="upload" value=upload._id)
                                textarea.fw(name="comment" id="comment" minlength="2" style="width:800px;height:129px;max-width:100%")
                                br
                                input.fw.btn.btn-md.btn-success(type='submit' value="Post Comment" style="border-radius:4px")
                else
                    div.comment-form.form-group.no-user-comment-form
                        form.form-horizontal.overall-comment-form(class="comment-form")
                            label.fw(for="comment" style="font-size:17px;") Enter Comment
                            br
                            textarea.fw(name="comment" id="comment" minlength="2" style="width:800px;height:129px;max-width:100%")
                            br
                            input.fw.btn.btn-md.btn-success(type='submit' value="Post Comment" style="border-radius:4px")


                // ** COMMENT DISPLAY **
                // todo: pull this out into its own partial

                // otherwise display all comments
                if commentCount == 0
                    div.comment-containing-div(style="width:400px;margin:0 auto;margin-top:70px;")
                        div(style="display:block")
                            h3.fw.no-comments-header(style="text-decoration:underline;text-align:left;font-size:22px;") No Comments Yet

                            div.comment-thread
                                div.original-comment.no-comments-div(style="display:block;padding-bottom:15px;padding-top:10px;")

                else
                    if commentCount > 0
                        div.comment-containing-div.col-sm-6.col-sm-offset-3(style="margin-top:60px;text-align:center")
                            if commentCount == 1
                                div(style="display:block")
                                    h3.fw(style="text-align:left;font-size:28px;margin-bottom:14px;") #{commentCount} Comment
                            else
                                div(style="display:block")
                                    h3.fw(style="text-align:left;font-size:28px;margin-bottom:14px;") #{commentCount} Comments
                            each comment in comments
                                if comment.commenter
                                    div.comment-thread
                                        div.original-comment(style="display:block;padding-bottom:15px;padding-top:10px;")
                                            // TODO: Add it here
                                            div.top-line(style="text-align:left;")
                                                p.fw(style="text-align:left;display:inline-block;")
                                                    a(href=`/user/${comment.commenter.channelUrl}` style="color:#d2d2d2;margin-right:5px;") #{comment.commenter.channelName || comment.commenter.channelUrl}
                                                p.fw(style="display:inline-block;") - #{comment.timeAgo} &nbsp
                                                    if user && !viewingUserIsBlocked
                                                        a.reply-link(style="cursor:pointer") Reply
                                                    // delete button
                                                    // if uploader or admin or commenter, let them delete comment
                                                    if isUploaderOrAdmin || ( user && comment.commenter._id == user._id )
                                                        a.delete-comment-button(style="margin-left:9px;cursor:pointer;" commentId=comment._id) Delete

                                                    if isUploader && !comment.commenter.isBlocked
                                                        a.block-user-button(style="margin-left:9px;cursor:pointer;" blockedusername=comment.commenter.channelUrl) Block User
                                                    if isUploader && comment.commenter.isBlocked
                                                        a.unblock-user-button(style="margin-left:9px;cursor:pointer;" blockedusername=comment.commenter.channelUrl) Unblock User


                                            p.fw(style="text-align:left;font-size:16px;") #{comment.text}

                                            // container that appears after you hit Reply
                                            div.reply-container(style="display:none")
                                                form.form-horizontal.reply-comment-form(class="comment-form" action='/api/comment', method='post')
                                                    input(type='hidden', name='_csrf', value=_csrf)
                                                    input(type="hidden" name="upload" id="upload" value=upload._id)
                                                    input(type="hidden" name="commentId" id="commentId" value=comment.id)
                                                    textarea.fw(name="comment" id="comment" minlength="2" style="width:400px;max-width:100%;")
                                                    br
                                                    input.fw.btn.btn-md.btn-success(type='submit' value="Post Comment" style="border-radius:4px")
                                                    br
                                                    br

                                        div.responses
                                            each responseComment in comment.responses
                                                if responseComment.visibility !== 'removed'
                                                    div(style="display:block;padding-bottom:15px;padding-left:40px;")
                                                        div.top-line(style="text-align:left;")
                                                            p.fw(style="text-align:left;display:inline-block;")
                                                                a(href=`/user/${responseComment.commenter.channelUrl}` style="color:#d2d2d2;margin-right:5px;") #{responseComment.commenter.channelName || responseComment.commenter.channelUrl}
                                                            p.fw(style="display:inline-block;") - #{responseComment.timeAgo} &nbsp
                                                        p.fw(style="text-align:left;") #{responseComment.text}

                                                    //div.reply-container(style="display:none")
                                                    //    form.form-horizontal.reply-form(class="comment-form" action='/api/comment', method='post')
                                                    //        input(type='hidden', name='_csrf', value=_csrf)
                                                    //        input(type="hidden" name="upload" id="upload" value=upload._id)
                                                    //        input(type="hidden" name="commentId" id="commentId" value=responseComment.id)
                                                    //        textarea(name="comment" id="comment" style="width:400px;")
                                                    //        br
                                                    //        input.btn.btn-md.btn-success(type='submit' value="Post Comment")
                                                    //        br
                                                    //        br






                                else
                                    p No commenter


block extra_js
  //script(src='https://checkout.stripe.com/checkout.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/autolinker/1.4.4/Autolinker.js")


block extra_css
  link(rel="stylesheet" href="https://cdn.plyr.io/3.5.10/plyr.css")
  style.
    .nodetube-pro {
        background: #edeeee;
        font-weight: 400;
        font-size: 13px;
        margin-left: 3px;
        padding: 8px 9px;
        display: inline-block;
        border-radius: 3px;
        transform: translateY(-2px);
    }

    .dropdown {
        text-align: center;
    }

    .button, .dropdown-menu {
        margin: 10px auto
    }

    .dropdown-menu {
        width: 200px;
        left: 50%;
        margin-left: -100px;
        margin-top: 0px;
    }


block extra_footer_js

  if upload.status == 'processing'
    include ./mediaPlayerPartials/progressTrackerJs



  script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.5.10/plyr.min.js")
  // script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.5.1/jquery.nicescroll.min.js")

  script.

    $(document).ready(function () {
      window.scrollTo(0, 21);


      $('.plyr').focus()

      const dontDoTheatreModeBelowThisFar = 270;

      const currentYOffset = window.pageYOffset;

      console.log(dontDoTheatreModeBelowThisFar, currentYOffset)

      // don't do it above 270 px
      const shouldDoIt = currentYOffset < dontDoTheatreModeBelowThisFar;

      function addStyleAttribute($element, styleAttribute) {
        $element.attr('style', $element.attr('style') + '; ' + styleAttribute);
      }

      addStyleAttribute($('body'), 'background-color: black !important');

      // turning this off because it's not working properly
        //      players[0].on('controlshidden', function () {
        //        if (shouldDoIt & 1 == 2) {
        //          $('.plyr').css('cursor', 'none')
        //          $('body').css('cursor', 'none')
        //
        //          console.log('hidden')
        //        }
        //
        //      })

      players[0].on('controlsshown', function () {
       //$('.plyr').css('cursor', 'inherit')
        // $('body').css('cursor', 'inherit')
        console.log('hidden')
      })
    })



  script.



    var clipboard = new ClipboardJS('.copy-button');

    clipboard.on('success', function (e) {
      swal('The text has been copied to your clipboard')
    });

  <!-- only do all the theatre stuff if it's a video, otherwise leave it as is-->
  if upload.fileType == 'video' && 1 == 2
      include mediaPlayerPartials/threateModeFunctionality





  //COMMENT FUNCTIONALITY CONTAINED HERE
  script(src="/js/media.js")

  script.
      setTimeout(function(){
        window.scrollTo(0, 22);


      }, 1000)

      $(function () {
        var timer;
        var fadeInBuffer = false;

        function runBufferThing(){
          if (!fadeInBuffer) {
            if (timer) {
              // console.log("clearTimer");
              clearTimeout(timer);
              timer = 0;
            }

            // console.log("fadeIn");
            $('html').css({
              cursor: ''
            });
          } else {
            $('.plyr').css({
              cursor: 'default'
            });
            fadeInBuffer = false;
          }


          timer = setTimeout(function () {
            // console.log("fadeout");
            $('.plyr').css({
              cursor: 'none'
            });

            fadeInBuffer = true;
          }, 2030)
        }

        runBufferThing()

        $('.plyr').click();

        $(document).mousemove(function () {
          runBufferThing();
        });


      });


  script.
    balanceText();

  // reportUploadFunctionalityJs

  include ./mediaPlayerPartials/reportUploadFunctionalityJs

  //include ./mediaPlayerPartials/changeQualityJs
  //
  //include ./mediaPlayerPartials/changeUserDefaultQualityJs

  include mediaPlayerPartials/creditFunctionalityJs

  if user
    include mediaPlayerPartials/deleteCommentAndBlockUnblockUserJs

  include mediaPlayerPartials/subscribeFunctionalityJs

  include mediaPlayerPartials/sensitiveFunctionalityJs

  include mediaPlayerPartials/plyrAndAutoplayFunctionalityJs

  include mediaPlayerPartials/embedLinkFunctionalityJs

  include ./mediaPlayerPartials/downloadFunctionalityJs

  include ./mediaPlayerPartials/repeatFunctionalityJs

  include ./mediaPlayerPartials/reactFunctionalityJs

  script.
    // Turn description urls into clickable anchor links
    var myTextEl = document.getElementById('descriptionText');
    if (myTextEl)
    {
      myTextEl.innerHTML = Autolinker.link(myTextEl.innerHTML);
    }

  if user
      script.
        var user = '#{user.id}'
  else
      script.
        var user = undefined

