extends layout

block content


    br
    div.center-block.text-center.col-sm-12
        if upload.status == 'processing'
            h2 Your upload #{upload.title} is processing. Check back in a couple minutes.
            br
            br

        br
        br
        if upload.fileType === 'video'
            div.display-div(style="min-width:50%;min-height:50%;margin:0 auto;")
                // TODO: Sub out thumbnail here

                video#media_player.display-element(poster=`${uploadServer}/${upload.uploader.channelUrl}/${upload.thumbnails.generated || upload.thumbnails.medium}` controls='', style="max-width:100%;background-color:black;")
                    // to
                    source.video-source(src=`${uploadServer}/${upload.uploader.channelUrl}/${upload.uniqueTag}.mp4`, type='video/mp4')
                    //source(src=upload.uploadUrl, type='video/mp4')

        else if upload.fileType === 'audio'
            div
                audio#media_player.my_audio(style="width:80%;" controls='', preload='none')

                    if upload.fileExtension == '.m4a'
                        source(src=`${uploadServer}/${upload.uploader.channelUrl}/${upload.uniqueTag}${upload.fileExtension}`, type='audio/mp4')
                    if upload.fileExtension == '.oga' || upload.fileExtension == '.ogg'
                        source(src=`${uploadServer}/${upload.uploader.channelUrl}/${upload.uniqueTag}${upload.fileExtension}`, type='audio/ogg')
                    else
                        source(src=`${uploadServer}/${upload.uploader.channelUrl}/${upload.uniqueTag}${upload.fileExtension}`, type='audio/mp3')


                    //source(src=upload.uploadUrl, type='audio/mp3')

        else if upload.fileType === 'image'
            div.display-div(style="")
                a(href=`${uploadServer}/${upload.uploader.channelUrl}/${upload.uniqueTag}${upload.fileExtension}`)
                    img.display-element(src=`${uploadServer}/${upload.uploader.channelUrl}/${upload.uniqueTag}${upload.fileExtension}` style="max-width:80%;min-width:50%;min-height:50%;max-height:620px;")


        div.non-player-content(style="position:relative;")

            br
            br
            // Upload Title
            //h2(class="upload-title-value" style="align-content:center;justify-content:normal;width:60%;margin: 0 auto;")=upload.title
            h2.balance-text(class="upload-title-value" style="text-wrap:balance;width:80%;margin:0 auto;")=upload.title

            br
            // uploader byline
            h3.uploader-name(style="margin-top:25px;font-size:26px;")
                if upload.uploader.customThumbnail
                    a(href=`/user/${upload.uploader.channelUrl}`)

                        img(src=`${uploadServer}/${upload.uploader.channelUrl}/${upload.uploader.customThumbnail}` width="140px" height="140px")
                        br
                        br
                else if upload.uploader.thumbnailUrl
                    a(href=`/user/${upload.uploader.channelUrl}`)

                        img(src=`${uploadServer}/${upload.uploader._id}/unique.png` width="140px" height="140px")
                        br
                        br

                a(href=`/user/${upload.uploader.channelUrl}` style="color:rgb(51, 51, 51)") #{upload.uploader.channelName || upload.uploader.channelUrl}
                    if upload.uploader.verified == true
                        img(src="/images/verified.jpg" width="25px" height="25px" style="margin-left:3px;margin-top:-2px;margin-right:5px;")
                    if upload.uploader.plan == 'plus'
                        span.pewtube-pro PLUS

            if alreadySubbed
                button.subscribe.btn.btn-danger(style="border-radius:4px") Unsubscribe (#{subscriberAmount})
            else
                button.subscribe.btn.btn-success(style="border-radius:4px") Subscribe (#{subscriberAmount})
            br
            br

            if upload.quality && upload.quality.high
                div.dropdown
                    button#dropdownMenu1.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown' style="border-radius:4px;" quality="low")
                        | Quality: Low
                        span.caret

                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1' style="cursor:pointer;")
                        li(role='presentation')
                            a.low-quality Low
                        li(role='presentation')
                            a.high-quality High

            if upload.uploader.plan == 'plus' && ( upload.uploader.channelUrl == 'pewtube' || upload.uploader.channelUrl == 'anthony')
                br
                button.donate.btn.btn-success(style="margin-bottom:-10px") Donate

            div
                // edit button
                if ( user && user.channelUrl == upload.uploader.channelUrl ) ||  ( user && user.role == 'admin' )
                    br
                    a(href=`/user/${upload.uploader.channelUrl}/${upload.uniqueTag}/edit`)
                        button.btn.btn-success(style="margin-bottom:-10px") Edit


            // EXTRA BUTTONS
            div
                if upload.fileType == 'image' || upload.fileType == 'video'
                    div.change-size-button.increase-size
                        h1(style="cursor:pointer") +
                    div.change-size-button.decrease-size
                        h1(style="cursor:pointer") -
                div.change-size-button
                    h2.download-button
                        i.download-icon.fa.fa-download(aria-hidden="true" style="cursor:pointer")
                div.change-size-button
                    h2.share-button
                        i.share-icon.fa.fa-share(aria-hidden="true" style="cursor:pointer")
                if upload.fileType == 'video' || upload.fileType == 'audio'
                    div.change-size-button(style="margin-left:0px")
                        h2.repeat-div(style="opacity:0.4")
                            i.repeat-icon.fa.fa-repeat(aria-hidden="true" style="cursor:pointer")
                div.change-size-button(style="cursor:pointer")
                    h2.report-button(style="")
                        i.share-icon.fa.fa-exclamation-triangle(aria-hidden="true" style="cursor:pointer;font-size:19px;")



            // More Upload Details
            div.col-sm-12
                // Upload View Amount
                h3 #{upload.views} Views

                // Upload time ago and uploader
                if upload.uploader
                    h4
                        | Uploaded #{upload.timeAgo} &nbsp

                    if upload.visibility == 'removed'
                        h2 Upload Deleted

                    if upload.fileType == 'video' || upload.fileType == 'audio'
                        p(style="margin-top:15px") File Size: #{ ( upload.fileSize/ ( 1000 * 1000)).toFixed() } MB

                    if upload.category
                        each category in categories
                            if category.name == upload.category
                                p(style="margin-top:15px;font-size:12px;") Category: #{category.displayName}

                                if upload.subcategory

                                    each subcategory in category.subcategories

                                        if upload.subcategory == subcategory.name
                                            p(style="margin-top:15px;font-size:12px;") Subcategory: #{subcategory.displayName}


                    if upload.rating
                        if upload.rating == 'allAges'
                            p(style="margin-top:15px;font-size:12px;") Rating: Safe For Work
                        if upload.rating == 'mature'
                            p(style="margin-top:15px;font-size:12px;") Rating: Not Safe For Work
                        if upload.rating == 'sensitive'
                            p(style="margin-top:15px;font-size:12px;") Rating: Sensitive (18+)


                    br


                // react functionality
                div.react(style="width:39%;background-color:white;margin:0 auto;border-radius:10px;margin-bottom:21px;padding-bottom:12px;")
                    br
                    each emoji in emojis
                        div(style="padding-right:15px;display:inline-block;")
                            a(href="#")
                                if currentReact
                                    if currentReact == emoji.name
                                        div.clicked-emoji
                                            img(class=emoji.name src='/emojis/' + emoji.name + '.jpg' width="50px" )

                                    else
                                        div.unclicked-emoji
                                            img(class=emoji.name src='/emojis/' + emoji.name + '.jpg' width="50px" )

                                else
                                    div.clicked-emoji
                                        img(class=emoji.name src='/emojis/' + emoji.name + '.jpg' width="50px" )

                            p(class=emoji.name) #{emoji.amount}



                // Upload Description
                if upload.description
                    h4(class="upload-description-value") Description
                    p(style="width:50%;text-align: center;margin: 0 auto;white-space:pre-line;word-wrap:break-word;" id="descriptionText") #{upload.description}

                br
                br

            // SHARING BUTTONS
            div

                a(href=`https://www.facebook.com/sharer/sharer.php?u=${url}` target="_blank")
                    img(src='/images/facebook-share.jpg', width='100', height='30', alt='Share on Twitter')
                a(href=`https://twitter.com/share?url=${url}` target="_blank")
                    img(src='/images/twitter-share.jpg', width='100', height='30', alt='Share on Twitter')
                a(href=`mailto:?subject=Check out this ${upload.fileType}&body=Check out this ${upload.fileType} on NodeTube: ${url}`, title='Share by Email')
                    img(src='/images/email-share.jpg')

            br
            button.btn.btn-default.copy-button(style="padding:4px 12px" data-clipboard-text=`${upload.title} \n\nhttps://nodetube.liv/user/${upload.uploader.channelUrl}/${upload.uniqueTag}`)
                i.fa.fa-info
                | Copy Details

            button.btn.btn-default.copy-button(style="padding:4px 12px" data-clipboard-text=`${upload.title} by ${upload.uploader.channelName} \n\n https://nodetube.live/user/${upload.uploader.channelUrl}/${upload.uniqueTag} \n\n #PewTube`)
                i.fa.fa-info
                | With User Info


            // COMMENT SECTION AND FORM
            div
                br
                br
                br
                div.col-sm-12
                if user
                    if !viewingUserIsBlocked
                        // comment form
                        div.comment-form.form-group
                            form.form-horizontal.overall-comment-form(class="comment-form" action='/api/comment', method='post')
                                input(type='hidden', name='_csrf', value=_csrf)
                                label(for="comment" style="font-size:17px;") Enter Comment
                                br
                                input(type="hidden" name="upload" id="upload" value=upload._id)
                                textarea(name="comment" id="comment" minlength="2" style="width:400px;max-width:100%")
                                br
                                input.btn.btn-md.btn-success(type='submit' value="Post Comment" style="border-radius:4px")
                else
                    div.comment-form.form-group.no-user-comment-form
                        form.form-horizontal.overall-comment-form(class="comment-form")
                            label(for="comment" style="font-size:17px;") Enter Comment
                            br
                            textarea(name="comment" id="comment" minlength="2" style="width:400px;max-width:100%")
                            br
                            input.btn.btn-md.btn-success(type='submit' value="Post Comment" style="border-radius:4px")


                // DISPLAY COMMENTS

                // otherwise display all comments
                if commentCount == 0
                    div.comment-containing-div(style="width:400px;margin:0 auto;margin-top:70px;")
                        div(style="display:block")
                            h3.no-comments-header(style="text-decoration:underline;text-align:left;") No Comments Yet

                            div.comment-thread
                                div.original-comment.no-comments-div(style="display:block;padding-bottom:15px;padding-top:10px;")

                else
                    if commentCount > 0
                        div.comment-containing-div.col-sm-6.col-sm-offset-3(style="margin-top:60px;text-align:center")
                            if commentCount < 1
                                div(style="display:block")
                                    h3(style="text-decoration:underline;text-align:left;") #{commentCount} Comment
                            else
                                div(style="display:block")
                                    h3(style="text-decoration:underline;text-align:left;") #{commentCount} Comments
                            each comment in comments
                                if comment.commenter
                                    div.comment-thread
                                        div.original-comment(style="display:block;padding-bottom:15px;padding-top:10px;")
                                            // TODO: Add it here
                                            div.top-line(style="text-align:left;")
                                                p(style="text-align:left;display:inline-block;")
                                                    a(href=`/user/${comment.commenter.channelUrl}` style="color:black;margin-right:5px;") #{comment.commenter.channelName || comment.commenter.channelUrl}
                                                p(style="display:inline-block;") - #{comment.timeAgo} &nbsp
                                                    if user && !viewingUserIsBlocked
                                                        a.reply-link(style="cursor:pointer") Reply
                                                    // delete button
                                                    // if uploader or admin or commenter, let them delete comment
                                                    if isUploaderOrAdmin || ( user && comment.commenter._id == user._id )
                                                        a.delete-comment-button(style="margin-left:9px;cursor:pointer;" commentId=comment._id) Delete

                                                    if isUploader && !comment.commenter.isBlocked
                                                        a.block-user-button(style="margin-left:9px;cursor:pointer;" blockedusername=comment.commenter.channelUrl) Block User
                                                    if isUploader && comment.commenter.isBlocked
                                                        a.unblock-user-button(style="margin-left:9px;cursor:pointer;" blockedusername=comment.commenter.channelUrl) Unblock User


                                            p(style="text-align:left;") #{comment.text}

                                            // container that appears after you hit Reply
                                            div.reply-container(style="display:none")
                                                form.form-horizontal.reply-comment-form(class="comment-form" action='/api/comment', method='post')
                                                    input(type='hidden', name='_csrf', value=_csrf)
                                                    input(type="hidden" name="upload" id="upload" value=upload._id)
                                                    input(type="hidden" name="commentId" id="commentId" value=comment.id)
                                                    textarea(name="comment" id="comment" minlength="2" style="width:400px;max-width:100%;")
                                                    br
                                                    input.btn.btn-md.btn-success(type='submit' value="Post Comment" style="border-radius:4px")
                                                    br
                                                    br

                                        div.responses
                                            each responseComment in comment.responses
                                                if responseComment.visibility !== 'removed'
                                                    div(style="display:block;padding-bottom:15px;padding-left:40px;")
                                                        div.top-line(style="text-align:left;")
                                                            p(style="text-align:left;display:inline-block;")
                                                                a(href=`/user/${responseComment.commenter.channelUrl}` style="color:black;margin-right:5px;") #{responseComment.commenter.channelName || responseComment.commenter.channelUrl}
                                                            p(style="display:inline-block;") - #{responseComment.timeAgo} &nbsp
                                                        p(style="text-align:left;") #{responseComment.text}

                                                    //div.reply-container(style="display:none")
                                                    //    form.form-horizontal.reply-form(class="comment-form" action='/api/comment', method='post')
                                                    //        input(type='hidden', name='_csrf', value=_csrf)
                                                    //        input(type="hidden" name="upload" id="upload" value=upload._id)
                                                    //        input(type="hidden" name="commentId" id="commentId" value=responseComment.id)
                                                    //        textarea(name="comment" id="comment" style="width:400px;")
                                                    //        br
                                                    //        input.btn.btn-md.btn-success(type='submit' value="Post Comment")
                                                    //        br
                                                    //        br






                                else
                                    p No commenter


block extra_js
  script(src='https://checkout.stripe.com/checkout.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/autolinker/1.4.4/Autolinker.js")


block extra_css
  link(rel="stylesheet" href="https://cdn.plyr.io/3.3.21/plyr.css")
  style.
    .pewtube-pro {
        background: #edeeee;
        font-weight: 400;
        font-size: 13px;
        margin-left: 3px;
        padding: 8px 9px;
        display: inline-block;
        border-radius: 3px;
        transform: translateY(-2px);
    }

    .dropdown {
        text-align: center;
    }

    .button, .dropdown-menu {
        margin: 10px auto
    }

    .dropdown-menu {
        width: 200px;
        left: 50%;
        margin-left: -100px;
        margin-top: 0px;
    }


block extra_footer_js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js")
  script(src="https://cdn.plyr.io/3.3.21/plyr.js")
  script.
    var clipboard = new ClipboardJS('.copy-button');

    clipboard.on('success', function (e) {
      swal('The text has been copied to your clipboard')
    });


  script(src="/js/media.js")

  script.
    balanceText();

  // reportUploadFunctionalityJs

  include ./mediaPlayerPartials/reportUploadFunctionalityJs

  include ./mediaPlayerPartials/changeQualityJs

  include ./mediaPlayerPartials/changeUserDefaultQualityJs

  include mediaPlayerPartials/creditFunctionalityJs

  if user
    include mediaPlayerPartials/deleteCommentAndBlockUnblockUserJs

  include mediaPlayerPartials/subscribeFunctionalityJs

  include mediaPlayerPartials/sensitiveFunctionalityJs

  include mediaPlayerPartials/plyrAndAutoplayFunctionalityJs

  include mediaPlayerPartials/embedLinkFunctionalityJs

  include ./mediaPlayerPartials/downloadFunctionalityJs

  include ./mediaPlayerPartials/repeatFunctionalityJs

  include ./mediaPlayerPartials/reactFunctionalityJs

  script.
    var myTextEl = document.getElementById('descriptionText');
    if (myTextEl)
    {
      myTextEl.innerHTML = Autolinker.link(myTextEl.innerHTML);
    }

  if user
      script.
        var user = '#{user.id}'
  else
      script.
        var user = undefined

