script.
  $(function(){
    function deleteComment(commentId, comment) {

      var upload = '#{upload._id}';

      var csrf = '#{_csrf}'

      var data = {
        _csrf: csrf,
        upload,
        commentId,
        uniqueTag: mediaUniqueTag
      }

      $.ajax({
        type: 'POST',
        url: `/api/comment/delete`,
        data,
        success: function (data) {

          swal('Comment deleted!');

          comment.hide();


          // remove comment
          console.log(data);
        },
        error: function (err) {

          swal('Unable to delete comment please contact administrator')
          console.log(err);
        }
      });

    }

    $('.delete-comment-thread-button').on('release click', function (e) {

      var commentThread = $(this).parent().parent().parent().parent();

      var commentId = $(this).attr('commentId');

      // dont move browser
      e.preventDefault();

      swal({
        title: "Delete Comment",
        text: "Are you sure you want to delete the comment? \n The entire comment thread will be deleted.",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Delete Comment'
      }).then(function (result) {
        if (result.value) {
          deleteComment(commentId, commentThread)
        } else {
          swal.close();
        }
      })
    })

    $('.delete-thread-comment-button').on('release click', function (e) {

      var threadComment = $(this).parent().parent().parent();

      var commentId = $(this).attr('commentId');

      // dont move browser
      e.preventDefault();

      swal({
        title: "Delete Comment",
        text: "Are you sure you want to delete the comment?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Delete Comment'
      }).then(function (result) {
        if (result.value) {
          deleteComment(commentId, threadComment)
        } else {
          swal.close();
        }
      })
    })

    function blockUser(blockedUsername) {

      var csrf = '#{_csrf}'

      const blockingUsername = '#{user.channelUrl}'

      $()

      var data = {
        _csrf: csrf,
        blockingUsername,
        blockedUsername
      }

      $.ajax({
        type: 'POST',
        url: `/api/user/block`,
        data,
        success: function (data) {

          swal('User was blocked successfully');

          // remove comment
          console.log(data);
        },
        error: function (err) {

          swal('Unable to block user please contact administrator')
          console.log(err);
        }
      });

    }

    $('.block-user-button').on('release click', function (e) {

      // dont move browser
      e.preventDefault();

      var blockedUsername = $(this).attr('blockedusername');

      console.log(blockedUsername + ' blocked')

      swal({
        title: "Block User",
        text: `Are you sure you want to block user ${blockedUsername}? They will no longer be able to comment on your content`,
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Block User'
      }).then(function (result) {
        if (result.value) {
          blockUser(blockedUsername)
        } else {
          swal.close();
        }
      })
    })

    function unblockUser(blockedUsername) {

      var csrf = '#{_csrf}'

      const blockingUsername = '#{user.channelUrl}'

      $()

      var data = {
        _csrf: csrf,
        blockingUsername,
        blockedUsername
      }

      $.ajax({
        type: 'POST',
        url: `/api/user/unblock`,
        data,
        success: function (data) {

          swal('User was unblocked successfully');

          // remove comment
          console.log(data);
        },
        error: function (err) {

          swal('Unable to block user please contact administrator')
          console.log(err);
        }
      });

    }

    $('.unblock-user-button').on('release click', function (e) {

      // dont move browser
      e.preventDefault();

      var blockedUsername = $(this).attr('blockedusername');

      console.log(blockedUsername + ' blocked')

      swal({
        title: "Block User",
        text: `Are you sure you want to unblock user ${blockedUsername}? They will be able to comment on your content again`,
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Unblock User'
      }).then(function (result) {
        if (result.value) {
          unblockUser(blockedUsername)
        } else {
          swal.close();
        }
      })
    })


  })
