script.
  function calculateAndSetProcessingTimeData(){
    var csrf = '#{_csrf}'

    var mediaUniqueTag = '#{upload.uniqueTag}'

    var channelUrl = '#{upload.uploader.channelUrl}'

    var data = {
      _csrf: csrf,
      uniqueTag: mediaUniqueTag,
      channelUrl
    }

    var secondHolder = 0;

    $.ajax({
      type: 'POST',
      url: `/user/${channelUrl}/${mediaUniqueTag}/progress`,
      data,
      success: function (data) {
        console.log(data);

        secondHolder = Number(data.conversionTimeLeft);
        setIntervalX(() => {
          if (secondHolder !== 0) secondHolder -= 1
          var secondsToFormattedTime = #{secondsToFormattedTime};

          var conversionTimeLeftFormatted = secondsToFormattedTime(secondHolder);

          $('#processingTimeLeft').text(`Estimated time to completion: ${secondHolder === 0 ? "calculating ..." : conversionTimeLeftFormatted}`);
        }, 1000 * 1, 7 - 1)

        $('#processing').text(`Your upload is currently ${data.conversionProgress}% done being processed`);

        if(parseInt(data) == 100){
          location.reload();
        }

      },
      error: function (err) {
        console.log(err);
      }
    });
  }

  function setIntervalX(callback, delay, repetitions) {
    var x = 0;
    var intervalId = window.setInterval(function () {

        callback();

        if (++x === repetitions) {
            window.clearInterval(intervalId);
        }
    }, delay);
  }

  calculateAndSetProcessingTimeData();
  setInterval(calculateAndSetProcessingTimeData, 1000 * 7)