script.

  var secondsToFormattedTime = #{secondsToFormattedTime}

  var secondsFormatted = secondsToFormattedTime(204);

  console.log(secondsFormatted)

  //setInterval(function () {
  //  console.log(secondHolder);
  //  secondHolder = secondHolder - 1
  //  $('#processingTimeLeft').text(`Time to completion: ${secondHolder}`);
  //}, 1000 * 10)

  function doThing(){
    var csrf = '#{_csrf}'

    var mediaUniqueTag = '#{upload.uniqueTag}'

    var channelUrl = '#{upload.uploader.channelUrl}'

    var data = {
      _csrf: csrf,
      uniqueTag: mediaUniqueTag,
      channelUrl
    }

    var secondHolder = 0;

    $.ajax({
      type: 'POST',
      url: `/user/${channelUrl}/${mediaUniqueTag}/progress`,
      data,
      success: function (data) {
        console.log(data);

        secondHolder = Number(data.conversionTimeLeft)



        $('#processing').text(`Your upload is currently ${data.conversionProgress}% done being processed`);

        $('#processingTimeLeft').text(`Time to completion: ${data.conversionTimeLeft}`);




        if(parseInt(data) == 100){
          location.reload();
        }

      },
      error: function (err) {
        console.log(err);
      }
    });
  }

  doThing();
  setInterval(doThing, 1000 * 7)