script.
  // REACT FUNCTIONALITY
  var activeEmoji = '#{currentReact}'

  var upload = '#{upload._id}'
  var csrf = '#{_csrf}'

  var height = 25;
  var width = 25;
  var duration = 300;

  var changeSize = 0.01

  $('.react img').on('mouseover', function() {

    $(this).animate({
      width: width + (width * changeSize)
    },{
      duration, queue: false
    });

    $(this).animate({
      height: height + (height * changeSize )
    },{
      duration, queue: false
    });
  })

  $('.react img').on('mouseout', function () {

    $(this).animate({
      width
    }, {
      duration, queue: false
    });

    $(this).animate({
      height
    }, {
      duration, queue: false
    });

  })


  $('.react img').on('release click', function (e) {

    // dont move browser
    e.preventDefault();

    if(!user){
      return swal({
        text: "Please register to react to content",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Sign Up Now'
      }).then(function (result) {
        if (result.value) {
          window.location.href = "/signup";
        }
      })
    }


    // change opacities
    $('.react img').css({
      opacity: '0.8'
    })
    $(this).css({
      opacity: 1
    })

    // note active emoji
    var oldEmoji = activeEmoji
    var emoji = $(this).attr('class')
    activeEmoji = emoji;
    var unreact = (oldEmoji == activeEmoji) // the old react is the same as the new (user wants to remove react)

    // decrement old emoji if needed
    if(oldEmoji){
      var oldEmojiValue = $('p.' + oldEmoji).text()
      console.log(oldEmojiValue)

      var decrementedValue = oldEmojiValue - 1
      var updateEmoji = $('p.' + oldEmoji).text(decrementedValue)

    }

    if(unreact) { // if the user removed the react, there is no active emoji
      activeEmoji = null
      $(".react img").css({ // reset all reacts opacity
        opacity: 1
      })
    } else { // if user chose a different react, update the new react value
      var newEmojiValue = $('p.' + emoji).text()
      var incrementedValue = parseInt(newEmojiValue) + 1
      console.log(newEmojiValue)
      var updatedEmojiValue = $('p.' + emoji).text(incrementedValue)
    }

    var data = {
      _csrf : csrf,
      emoji
    }

    $.ajax({
      type: 'POST',
      url: `/api/react/${upload}/${user}`,
      data,
      success: function (data) {
        console.log(data);
      },
      error: function (err) {
        console.log(err);
      }
    });


    // app.post('/api/react/:upload/:user', internalApiController.react);


  })