for category in categories
    //p= uploads[category.name]
    // if there's more than one per category
    if uploads[category.name] && uploads[category.name].length && uploads[category.name].length > 0
        div.category.col-sm-12
            a.upload-user-text(href=`${addressPrepend}/${highlightedNumber}?category=${category.name}&within=${within}&media=${mediaType || ''}`)
                h1.fw(style="font-size:41px") #{category.displayName}
                br

            // begin individual upload section
            each upload in uploads[category.name]
                if upload.uploader
                    div.col-sm-4(style="text-align:center;height:335px;")
                        div(style="width:100%")
                            include ../viewPartials/uploadThumbnail

                            include ../viewPartials/uploadDetails

                            //include ../viewPartials/uploadDetailsPopular

