div.row
    each dobj in displayObject
        div.col-sm-2
            h3.fw
                if category == 'overview' || category == 'all'
                    a(href=`/media/popular/${page}?media=${mediaType}&category=${category}&within=${dobj.withinString}`) #{dobj.englishString}
                else
                    a(href=`/media/popular/${page}?media=${mediaType}&category=${category}&within=${dobj.withinString}`) #{dobj.englishString}

    if category == 'overview'
        div.col-sm-2
            h3.fw
                a(href=`/media/popular/${page}?media=${mediaType}&category=all&within=24hour`) All Uploads
    if category == 'all'
        div.col-sm-2
            h3.fw
                a(href=`/media/popular/${page}?media=${mediaType}&category=overview`) Categories

hr