//DETAILS BELOW AN INDIVIDUAL UPLOAD
style.
    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        padding: 10px;
    }

    .title-anchor:hover {
        text-decoration:underline;
    }

    .durationTime {
        color: #959595;
        font-family:initial;
    }


div.underThing
    // all the details including title
    if ( upload.fileType == 'audio' || upload.fileType == 'video') && upload.formattedDuration
        div.duration(style="display:inline;height:26px;max-width:70px;text-align:center;position:relative;bottom:0;right:0;opacity:1;margin: 0 auto;border-radius: 5px")
            span.durationTime(style="margin-right:7px;font-size:15px;") #{upload.formattedDuration}


    if upload.fileType == 'video'
        i.fa.fa-video-camera(aria-hidden='true' style="margin:0 auto;text-align:center;display:inline;")
    else if upload.fileType == 'audio'
        i.fa.fa-volume-up(aria-hidden='true' style="margin:0 auto;text-align:center;display:inline;")
    else if upload.fileType == 'image'
        i.fa.fa-picture-o(aria-hidden='true' style="margin:0 auto;text-align:center;display:inline;")


// UPLOAD TITLE
a.title-anchor(href=`/user/${upload.uploader.channelUrl || channelUrl}/${upload.uniqueTag}` style="color:#7d7373;" target="_parent")
    div
        p.balance-text.upload-title-text(style="width:100%;margin:0 auto;margin-top:11px;margin-bottom:7px;margin-top:0px;") #{upload.title}

// shows view amount, username and if recent also time ago
// TODO: need to rename this div
div.random-thing(style="margin-top:-4px;")
    // view amount
    p.upload-title-text.views-text(style="margin:0 auto;text-align:center;display:inline;color:#b0aeae;") #{abbreviateNumber(upload.legitViewAmount)} views &nbsp
        // upload time ago

        // if its not sorted by popular (aka recent or other thing on user page)
        if !within
            p.upload-title-text.views-text(style="margin:0 auto;text-align:center;display:inline;")
                a.upload-user-text.views-text(href=`/user/${upload.uploader.channelUrl}` style="margin:0;text-align:center;display:inline;color:#c1c0c0 !important;" target="_parent") #{upload.uploader.channelName || upload.uploader.channelUrl}

            p.upload-title-text.views-text(style="margin:0 auto;text-align:center;display:inline;color:#b0aeae;;") &nbsp uploaded #{upload.timeAgo} &nbsp

            // if sorted by popular
        else
            // username
            p.upload-title-text.views-text(style="margin:0 auto;text-align:center;display:inline;") &nbsp
                a.upload-user-text.views-text(href=`/user/${upload.uploader.channelUrl}` style="margin:0;text-align:center;display:inline;color:#c1c0c0 !important;" target="_parent") #{upload.uploader.channelName || upload.uploader.channelUrl}


// show views within time if on popular page
div.upload-thing
    if within
        p.upload-title-text.views-text(style="margin-top:-8px;color:#b0aeae;;") #{abbreviateNumber(upload[popularTimeViews])} #{withinDisplayString}




//// if user is an admin, allow them to see category and rating
if user && user.role == 'admin'
    div.admin-div(style="margin-bottom:15px;margin-top:-4px;")
        if upload.category
            p.upload-title-text.views-text(style="margin:0;margin-left:3px;text-align:center;display:inline;") #{upload.category}
        if upload.subcategory
            p.upload-title-text.views-text(style="margin:0;margin-left:3px;text-align:center;display:inline;") #{upload.subcategory}
        if upload.rating
            if upload.rating == 'allAges'
                p.upload-title-text.views-text(style="display:inline") SFW
            if upload.rating == 'mature'
                p.upload-title-text.views-text(style="display:inline") NSFW
            if upload.rating == 'sensitive'
                p.upload-title-text.views-text(style="display:inline") Sensitive (18+)

        div.thing(style="margin-top:-33px;margin-left:44px;display:block")
             input.ratingChanged(style="display:block;z-index:99999;position:absolute;" type="checkbox" value=`${upload._id}`)
//
//// denote whether upload is deleted
if user && (user.role == 'admin' || user.role == 'moderator') && upload.visibility == 'removed'
    div
        h4(style="margin-top:-5px;margin-bottom:-1px;") DELETED
        //p(style="font-size:15px") #{upload.uploader.channelName || upload.uploader.channelUrl}
        //    if upload.uploader.verified == true
        //        img(src="/images/verified.jpg" width="19px" height="19px" style="margin-left:3px;margin-top:-2px;")
        //    if upload.uploader.plan == 'plus'
        //        span.pewtube-pro PLUS


