div.card(style="width: 368px; margin-left: auto")         
    include ../viewPartials/uploadThumbnail         
        div.card-body
            div.card-title
                a(href=`/user/${upload.uploader.channelUrl || channelUrl}/${upload.uniqueTag}` style="color:black") 
                    h4.text-left #{upload.title}
            div.card-text
                p.upload-title-text.views-text(style="margin:0 auto;text-align:left; height: auto;")
                    a.upload-user-text.views-text(href=`/user/${upload.uploader.channelUrl}` style="margin:0;text-align:center;display:inline;") #{upload.uploader.channelName || upload.uploader.channelUrl}
                if !within    
                    p.upload-title-text.views-text(style="margin:0 auto;text-align:left;display:inline;") uploaded #{upload.timeAgo} 
                    p.upload-title-text.views-text(style="margin:0 auto;text-align:left;display:inline;")  | #{upload.legitViewAmount} views
                if within
                    p.upload-title-text.views-text(style="text-align:left;") #{upload[popularTimeViews]} #{withinDisplayString}