div.upload-details
    if englishString !== 'All Time'
        div.views
            p.center-block.text-center #{upload.legitViewAmount} Total Views
    div.views
        if englishString === 'All Time'
            p(style="margin-top:8px").center-block.text-center #{upload.legitViewAmount} #{englishString}
        if englishString === 'Last Month'
            p.center-block.text-center #{upload.viewsWithin1month} #{englishString}
        if englishString === 'Last Week'
            p.center-block.text-center #{upload.viewsWithin1week} #{englishString}
        if englishString === 'Last Day'
            p.center-block.text-center #{upload.viewsWithin24hour} #{englishString}
        if englishString === 'Last Hour'
            p.center-block.text-center #{upload.viewsWithin1hour} #{englishString}

        // capitalize media type
    div.uploaded-by #{upload.fileType.charAt(0).toUpperCase() + upload.fileType.slice(1)} uploaded by
        a.upload-user-text(href=`/user/${upload.uploader.channelUrl}`)
            p(style="font-size:15px") #{upload.uploader.channelName || upload.uploader.channelUrl}
                if upload.uploader.verified === true
                    img(src="/images/verified.jpg" width="19px" height="19px" style="margin-left:3px;margin-top:-2px;")
                if upload.uploader.plan === 'plus'
                    span.nodetube-pro PLUS
