doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='theme-color' content='#4DA5F4')
        meta(name='csrf-token', content=_csrf)
        meta(name="description", content=meta.description)

        meta(property='og:title', content=(meta.title || title))
        meta(property='og:image', content=meta.image)
        meta(property='og:description', content=meta.description)
        meta(property='og:video', content=meta.video)


        meta(name='twitter:card', content='summary')
        meta(name='twitter:site', content='@newtube_app')
        meta(name='twitter:title', content=(meta.title || title))
        meta(name='twitter:description', content=meta.description)
        meta(name='twitter:image', content=meta.image)


        title #{title} - #{brandName}
        link(rel='shortcut icon', href='/favicon.ico')
        script(src='/js/lib/jquery-3.1.1.min.js')
        script(src='/js/lib/bootstrap.min.js')
        script(src='/js/main.js')


        link(rel="stylesheet" href="https://cdn.plyr.io/2.0.16/plyr.css")


        //link(href="//vjs.zencdn.net/5.19/video-js.min.css" rel="stylesheet")
        //script(src="//vjs.zencdn.net/5.19/video.min.js")


        script(src="/js/sweetalert.min.js")
        link(rel="stylesheet" href="/css/sweetalert.css")

        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', href='/css/nodetube.css')

        



    style.
        body  {
            position: fixed;
            bottom: 0px;
            right: 0px;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: 100;
            overflow: hidden;
            margin:0;
            padding:0;

        }

        .plyr {
            width:100%;
            max-width:100%;
        }



    body
        div.display-div

            if upload.fileType == 'video'
                video.display-element(poster=`${uploadServer}/${upload.uploader.channelUrl}/${upload.thumbnails.custom || upload.thumbnails.generated || upload.thumbnails.medium}` controls='')
                    // TODO: Sub out thumbnail here

                    source(src=`${protocolDomainNameAndTLD}/uploads/${upload.uploader.channelUrl}/${upload.uniqueTag}.mp4`, type='video/mp4')
                    source(src=upload.uploadUrl, type='video/mp4')
            else if upload.fileType == 'image'
                img.display-element(src=upload.uploadUrl style="height:100%;width:100%")
            else if upload.fileType == 'audio'
                audio.my_audio(style="" controls='', preload='none')
                    source(src=upload.uploadUrl, type='audio/mp3')





        script(src="https://cdn.plyr.io/2.0.16/plyr.js")

        script.
          plyr.setup({
            autoplay: false
          });


