extends ../layout

block content
    style.
        .search-upload-buttons-container {
            display: grid;
            justify-content: center;
            grid-gap: 10px;
        }


        @media (min-width: 600px) {
            .search-upload-buttons-container {
                grid-auto-flow: column;
            }

        }

        /*below 479px*/
        @media (max-width: 479px) {
            .mobileSearchQuery {
                display: inline !important;
            }

            .searchTypeDropdown {
                margin-bottom: 30px;
            }

            .searchTypeButton {
                font-size:16px;
            }
        }



    div.container
        div.col-sm-12.text-center(style="margin:0 auto;")


        // UPLOADS RESULTS
        //br
        div.col-sm-12.text-center(style="margin:0 auto;margin-top:50px;")
            if uploads
                div.text-center.center-div.search-upload-buttons-container

                h4(style="font-size:33px").fw Showing results for Uploads

                h4(style="font-size:26px;margin-top:14px;").fw Click the 'Search For User' button to search for a User

                    br

                    br

                a(href=`/search?searchQuery=${searchQuery}&orderBy=newToOld&mediaType=${mediaType}&searchType=user`)
                    button.fw.btn.btn-primary.btn-lg(style="color:#d8dcde;border-radius:6px;margin-bottom:17px;") Search For User

                    br

                    br

                    br


                include ../viewPartials/orderByDropdown

                include ../viewPartials/searchUploadsFileTypeDropdown

                include ../viewPartials/sensitivityFilterDropdown

                br
                br

                include ../viewPartials/searchPagination

                if totalUploadsAmount == 1
                    p.fw(style="font-size:27px;margin-top:30px;margin-bottom:10px;") #{totalUploadsAmount} Upload Found
                else
                    p.fw(style="font-size:27px;margin-top:30px;margin-bottom:10px;") #{totalUploadsAmount} Uploads Found

                p.fw(style="font-size:20px;margin-top:10px;margin-bottom:30px;") Search Query: #{searchQuery}
                br

                if uploads && uploads.length > 0
                    each upload in uploads
                      if upload.uploader
                          div.col-sm-4(style="text-align:center;height:360px")
                              include ../viewPartials/uploadThumbnail

                              include ../viewPartials/uploadDetails



        // USERS RESULTS
        div.col-sm-12.text-center(style="margin:0 auto;")
            if channels

                h4.fw Showing results for Users.

                h4.fw Click 'Search For Uploads' to search for an upload.

                br

                a(href=`/search?searchQuery=${searchQuery}&orderBy=newToOld&mediaType=${mediaType}&searchType=`)

                    button.fw.btn.btn-primary.btn-lg(style="color:#d8dcde;border-radius:6px;margin-bottom:17px;cursor:pointer;") Search For Uploads


                //div.dropdown(style="display:inline;margin-right:15px;")
                //    button.fw.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown' style="border-radius:5px")
                //        | Search Type: #{capitalizeFirst(searchType)} &nbsp
                //
                //        span.caret
                //
                //    ul.dropdown-menu.dropdown
                //        li
                //            a(href=`/search?searchQuery=${searchQuery}&orderBy=popular&mediaType=${mediaType}&searchType=`) Uploads &nbsp
                //        li
                //            a(href=`/search?searchQuery=${searchQuery}&orderBy=newToOld&mediaType=${mediaType}&searchType=user`) Users &nbsp

                br
                br
                br

                if channels.length > 0
                    if channels.length == 1
                        p.fw(style="font-size:30px;")  1 User Found
                    if channels.length > 1
                        p.fw(style="font-size:30px;") #{channels.length} Users Found

                    p.fw(style="font-size:20px;margin-top:10px;margin-bottom:30px;") Search Query: #{searchQuery}
                        br
                        br
                        br

                    br
                    each channel in channels
                        div.col-sm-4(style="text-align:center;height:280px")
                            a(href=`/user/${channel.channelUrl}` style="color:black")
                                if channel.customThumbnail
                                    img.center-block.text-center(src=`${uploadServer}/${channel.channelUrl}/${channel.customThumbnail}` height="168px")
                                else
                                    img.center-block.text-center(src='/images/default-user-icon2.jpg' height="168px")


                                div
                                    p.upload-title-text.fw Channel Username: #{channel.channelUrl}
                                    if channel.channelName
                                        p.upload-title-text.fw Channel Name: #{channel.channelName}
                                br

                            div.upload-details
                                div.views
                                    p.fw.views-text #{channel.uploads.length} Uploads

                else
                    div.center-block.text-center
                        br
                        br
                        p.fw(style="font-size:24px") No Users Found


                        br
                        p.fw(style="font-size:20px;margin-top:10px;margin-bottom:30px;") Search Query: #{searchQuery}


    script.
      $(document).ready(function () {

        var orderBy = '#{orderBy}'
        var mediaType = '#{mediaType}'
        var searchQuery = '#{searchQuery}'
        var searchType = '#{searchType}' // upload or user

        if(!orderBy){
          orderBy = 'newToOld'
        }


        console.log(orderBy, mediaType, searchQuery, searchType)

        // no need to autofocus
        $('.search-query-input').focus();


        // capture submit
        $('.search-uploads-button').click(function () {

          var userSearchQuery = $('.search-query-input').val()

          window.location = '/search?orderBy=' + orderBy + '&mediaType=' + mediaType + '&searchQuery=' + userSearchQuery + '&searchType=' + searchType
        });

        $('.search-users-button').click(function () {
          var userSearchQuery = $('.search-query-input').val()

          window.location = `/search?searchType=user&searchQuery=${userSearchQuery}`
        })

          $(document).keypress(function (e) {
          if (e.which == 13) {
            var searchQuery = $('.search-query-input').val()

            window.location = '/search?orderBy=' + orderBy + '&mediaType=' + mediaType + '&searchQuery=' + searchQuery + '&searchType=upload'
          }
        });
      })


    include ../viewPartials/changeSensitivityFilterJs

    include ../viewPartials/mouseOverJavascript
